    <nav id="nav-main" class="c-header-nav c-header-nav--adaptive">
      <ul class="c-header-nav__menu">
        <li class="c-header-nav__item"><a href="layout.html" class="c-header-nav__link">Layout</a></li>
        <li class="c-header-nav__item"><a href="styleguide.html" class="c-header-nav__link">Styleguide</a></li>
        <li class="c-header-nav__item"><a href="components.html" class="c-header-nav__link">Components</a>
            <ul class="c-dropdown-nav">
                <li>
                    <a href="components.html#top" class="c-dropdown-nav__link">Page Headers</a>
                </li>
                <li>
                    <a href="components.html#to-alerts" class="c-dropdown-nav__link">Alerts</a>
                </li>
                <li>
                    <a href="components.html#to-tags" class="c-dropdown-nav__link">Tags</a>
                </li>
                <li>
                    <a href="components.html#to-menus" class="c-dropdown-nav__link">Menus</a>
                </li>
                <li>
                    <a href="components.html#to-accordian" class="c-dropdown-nav__link">Accordian</a>
                </li>
                <li>
                    <a href="components.html#to-tabs" class="c-dropdown-nav__link">Tabs</a>
                </li>
            </ul>
        </li>
        <li class="c-header-nav__item"><a href="modules.html" class="c-header-nav__link">Modules</a>
            <ul class="c-dropdown-nav">
                <li>
                    <a href="modules.html#top" class="c-dropdown-nav__link">Heros</a>
                </li>
                <li>
                    <a href="modules.html#to-slider" class="c-dropdown-nav__link">Sliders</a>
                </li>
                <li>
                    <a href="modules.html#to-content-rows" class="c-dropdown-nav__link">Content Rows</a>
                </li>
                <li>
                    <a href="modules.html#to-tile-rows" class="c-dropdown-nav__link">Tile Rows</a>
                </li>
                <li>
                    <a href="modules.html#to-form" class="c-dropdown-nav__link">Form Module</a>
                </li>
                <li>
                    <a href="modules.html#to-full" class="c-dropdown-nav__link">Full Width</a>
                </li>
                <li>
                    <a href="modules.html#to-video" class="c-dropdown-nav__link">Video</a>
                </li>
                <li>
                    <a href="modules.html#to-accordian" class="c-dropdown-nav__link">Accordian</a>
                </li>
                <li>
                    <a href="modules.html#to-tabs" class="c-dropdown-nav__link">Tabs</a>
                </li>
            </ul>
        </li>
        <li class="c-header-nav__item"><a href="javascript.html" class="c-header-nav__link">JavaScript</a>
            <ul class="c-dropdown-nav">
                <li>
                    <a href="javascript.html#top" class="c-dropdown-nav__link">Responsive Background Images</a>
                </li>
                <li>
                    <a href="javascript.html#to-slick" class="c-dropdown-nav__link">Slick Carousel</a>
                </li>
                <li>
                    <a href="javascript.html#to-moals" class="c-dropdown-nav__link">Responsive Modals</a>
                </li>
                <li>
                    <a href="javascript.html#to-masonry" class="c-dropdown-nav__link">Masonry</a>
                </li>
            </ul>
        </li>
        <li class="c-header-nav__item"><a href="templates.html" class="c-header-nav__link">Templates</a></li>
        <li class="c-header-nav__item"><a href="docs.html" class="c-header-nav__link">Docs</a></li>
      </ul>
    </nav>