    <nav id="nav-main" class="c-header-nav c-header-nav--adaptive">
      <ul class="c-header-nav__menu">
        <li class="c-header-nav__item"><a href="layout.html" class="c-header-nav__link">Layout</a></li>
        <li class="c-header-nav__item"><a href="styleguide.html" class="c-header-nav__link">Styleguide</a></li>
        <li class="c-header-nav__item"><a href="components.html" class="c-header-nav__link">Components</a></li>
        <li class="c-header-nav__item"><a href="modules.html" class="c-header-nav__link">Modules</a></li>
        <li class="c-header-nav__item"><a href="javascript.html" class="c-header-nav__link">JavaScript</a></li>
        <li class="c-header-nav__item"><a href="templates.html" class="c-header-nav__link">Templates</a></li>
        <li class="c-header-nav__item"><a href="docs.html" class="c-header-nav__link">Docs</a></li>
      </ul>
    </nav>