@mixin rrem($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parse-int($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}


@mixin nobreak {
  column-break-inside:avoid;
  display: table;
}

@mixin font-size($size) {
  @include rrem(font-size, $size);
}

@mixin font-smoothing {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@mixin letterpress($opacity: .5) {
  text-shadow: 0 1px 0 rgba(255,255,255, $opacity);
}

@mixin box-emboss($opacity, $opacity2){
  box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin bg-cover {
  background-size: cover;
}

@mixin desaturate {
  filter: grayscale(100%);
}

@mixin saturate {
  filter: grayscale(0);
}

@mixin user-select ($select) {
  user-select: $select;
}

@mixin no-touch() {
  .no-touch & {
    @content;
  }
}
@mixin touch() {
  .touch & {
    @content;
  }
}

@mixin hover() {
  .no-touch & {
    &:hover {
      @content;
    }
  }
}
@mixin active() {
  .no-touch & {
    &:active {
      @content;
    }
  }
}
@mixin focus() {
  .no-touch & {
    &:focus {
      @content;
    }
  }
}

@mixin fs-vw($fs, $width: $breakpoint-xxl, $mq: $media-m, $fs-s: $font-size-s) {

  font-size: $fs-s;
  @include media($mq){
    font-size: $fs;
    font-size: get-vw($fs, $width);
  }
  
}

@function get-vw($target, $width: $breakpoint-xxl) {
  $vw-context: ($width * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

//respond mixins
@mixin respond($property, $size-sm, $size-md: md, $size-lg: lg, $size-xlg: xlg){ 

  @include px-rem($property, $size-sm);
  //if a 2nd value used then from md bp up use that size and convert to REM
  @if $size-md !=  md{
    
    @include media($media-m){
      @include px-rem($property, $size-md);
    }
  } 
  //if a 2nd value used then from lg bp up use that size and convert to REM
  @if $size-lg != lg{
    
    @include media($media-l2){
      @include px-rem($property, $size-lg);
    }
  }
  //if a 2nd value used then from xlg bp up use that size and convert to REM
  @if $size-xlg != xlg{
   
    @include media($media-xl){
      @include px-rem($property, $size-xlg);
    }
  }
}

@mixin respond-fs($size-sm, $size-md: md, $size-lg: lg, $size-xlg: xlg){ 

  @include px-rem(font-size, $size-sm);
  //if a 2nd value used then from md bp up use that size and convert to REM
  @if $size-md !=  md{
    
    @include media($media-m){
      @include px-rem(font-size, $size-md);
    }
  } 
  
  //if a 4th value is used then lg is a px val (to override REM sizing) and xlg is REM
  @if $size-xlg != xlg{
    @include media($media-l2){
      font-size: $size-lg;
    }
    @include media($media-xl){
      @include px-rem(font-size, $size-xlg);
    }
  }
  //if only 3nd value used then from lg bp up use that size and convert to REM
  @else if $size-lg != lg{
    
    @include media($media-l2){
      @include px-rem(font-size, $size-lg);
    }
  } 
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin px-rem($property, $values) {
  
  $px : ();
  $rem: ();
  $font-size-calc: parseInt($font-size / 1rem);

  @each $value in $values {

    @if $value == 0 or $value == auto { 
      $px : append($px, $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    
      $val: parseInt($value); 

  @if $unit == "px" {  
    $px : append($px,  $value);
    $rem: append($rem, ($val / $font-size-calc + rem));
  }

    @if $unit == "rem" { 
        $px : append($px,  ($val * $font-size-calc + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     
    #{$property}: $px; 
  } @else {
    #{$property}: $px;  
    #{$property}: $rem;
  }
}

//shows only stated MQ:
@mixin show($mq:xs) {
  @if $mq == xs{
    display:block;
    @include media($media-small){
      display:none;
    }
  }
  @else if $mq == sm{
    display:block;
    @include media($media-small){
      display:none;
    }
  }
  @else if $mq == md{
    display:none;
    @include media($media-m){
      display:block;
    }
    @include media($media-l){
      display:none;
    }
  }
  @else if $mq == lg{
    display:none;
    @include media($media-l){
      display:block;
    }
    @include media($media-xl){
      display:none;
    }
  }
  @else if $mq == xlg{
    display:none;
    @include media($media-xl){
      display:block;
    }
  }
}
//shows by default. hides from stated MQ upwards:
@mixin hide-up($mq:m) {
  @if $mq == s{
    display:block !important;
    @include media($media-s){
      display:none !important;;
    }
  }
  @if $mq == m{
    display:block !important;
    @include media($media-m){
      display:none !important;;
    }
  }
  @if $mq == l{
    display:block !important;
    @include media($media-l){
      display:none !important;;
    }
  }
}
//hides by default. show from stated MQ upwards:
@mixin show-up($mq:m) {
  @if $mq == s{
    display:none !important;
    @include media($media-s){
      display:block !important;
    }
  }
  @if $mq == m{
    display:none !important;
    @include media($media-m){
      display:block !important;
    }
  }
  @if $mq == l{
    display:none !important;
    @include media($media-l){
      display:block !important;
    }
  }
}

@mixin lh($target, $context: $font-size, $mq: xs, $target-sm:$target) {
   //@if $target == 0 { @return 0 }
  @if $mq == xs $mq == sm or $mq == md or $mq == lg{
    line-height: $target-sm;
  }
  @if $mq == xs{
    @include media($media-xs){
      line-height: $target;
      line-height: $target / $context;
    }
  }
  @if $mq == sm{
    @include media($media-small){
      line-height: $target;
      line-height: $target / $context;
    }
  }
  @else if $mq == md or $mq == lg or $mq == xlg{
    @include media($media-m){
      line-height: $target;
      line-height: $target / $context;
    }
  } 
}

@mixin abs-center() {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}


// @mixin triangle-left($width, $height, $color) {
//   width: 0; 
//   height: 0; 
//   border-top: $width solid transparent;
//   border-bottom: $width solid transparent; 
//   border-right:$height solid $color; 
// }

// @mixin before-triangle-top($width, $height, $color) {
//   content:"\A";
//   border-style: solid;
//   border-width: 0 $width $height $width;
//   //border-width: 15px 10px 0 10px;
//   border-color: transparent transparent $color transparent;
// }

// @mixin before-triangle-left($width, $height, $color) {
//   content:"\A";
//   border-style: solid;
//   border-width: $width $height $width 0;

//   @include media($media-m){
//     $base-size: $z-md;
//     $b-width: $base-size * $width;
//     $b-height: $base-size * $height;
//     border-width: $b-width $b-height $b-width 0;
//   }
//   @include media($media-l){
//     $base-size: $z-lg;
//     $b-width: $base-size * $width;
//     $b-height: $base-size * $height;
//     border-width: $b-width $b-height $b-width 0;
//   }
//   @include media($media-xl){
//     $base-size: $z-xlg;
//     $b-width: $base-size * $width;
//     $b-height: $base-size * $height;
//     border-width: $b-width $b-height $b-width 0;
//   }
//   border-color: transparent $color transparent transparent;
// }

// @mixin before-triangle-btm($width, $height, $color) {
//   content:"\A";
//   border-style: solid;
//   border-width: $height $width 0 $width;
//   //border-width: 15px 10px 0 10px;
//   border-color: $color transparent transparent transparent;
// }

/*.triangle_down(@width, @height, @color) {
  width: 0; 
  height: 0; 
  border-left: @width solid transparent;
  border-right: @width solid transparent;
  border-top: @height solid @color;
}
.triangle_up(@width, @height, @color) {
  width: 0; 
  height: 0; 
  border-left: @width solid transparent;
  border-right: @width solid transparent;
  border-bottom: @height solid @color;
}*/
