@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) {
    margin-right: flex-gutter($grid-columns, $gutter);
  }
  &:nth-child(#{$nth}+1) {
    clear: none
  }
}


@mixin spacing {
  @extend %spacing;
}
