{% extends 'layouts/application.html' %}
{% block main_title %}UDF Layout{% endblock %}

{% block content %}
<div class="l-page p-content">
  <section class="m-title -large -bg">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Components</h1>
    </div>
  </section>
  <section class="m-title -large" id="to-headers">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Page header</h1>
    </div>
  </section>
  <section class="m-title -large">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Page header with Breadcrumbs</h1>
      <ul class="c-breadcrumbs">
        <li class="c-breadcrumbs__item"><a href="#" class="c-breadcrumbs__link">Home</a></li>
        <li class="c-breadcrumbs__item"><a href="#" class="c-breadcrumbs__link">Parent Section</a></li>
        <li class="breadcrumbs-item-current"><span class="c-breadcrumbs__current"> Page Name</span></li>
      </ul>
    </div>
  </section>
  <div class="l-row m" id="to-alerts">
    <div class="l-content">
      <div class="l-header">
        <h2>Alerts</h2>
      </div>
      <div class="l-body">
        {% include "components/alert.html" %}
      </div>
    </div>
    <div class="l-row m" id="to-tags">
      <div class="l-content">
        <div class="m__header">
          <h2>Tag Links</h2>
        </div>
        <div class="l-body">
          {% include "components/tags.html" %}
        </div>
      </div>
    </div>
    <div class="l-row m" id="to-menus">
      <div class="l-content">
        <div class="m__header">
          <h2>Menus</h2>
        </div>
        <div class="m__body">
          <h3>Horizontal Nav</h3>
          <div class="copy">
            <p>An unstyled horizontal list of links</p>
          </div><ul class="l-nav--h">
          <li>
            <a href="">Nav item 1</a>
          </li>
          <li>
            <a href="">Nav item 2</a>
          </li>
          <li>
            <a href="">Nav item 3</a>
          </li>
          <li>
            <a href="">Nav item 4</a>
          </li>
        </ul>
        <p class="copy">
          <h3>Vertical Nav</h3>
        </p>
        <div class="copy">
          <p>An unstyled vertical list of links</p>
          <ul class="l-nav--v">
            <li>
              <a href="">Nav item 1</a>
            </li>
            <li>
              <a href="">Nav item 2</a>
            </li>
            <li>
              <a href="">Nav item 3</a>
            </li>
            <li>
              <a href="">Nav item 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="l-row m" id="to-accordian">
      <div class="m__content">
        <div class="m__header">
          <h2>Accordian</h2>
        </div>
        <div class="m__body">
          {% include "components/accordion.html" %}
        </div>
      </div>
    </div>
    <div class="l-row m" id="to-tabs">
      <div class="m__content">
        <div class="m__header">
          <h2>Tabs</h2>
        </div>
        <div class="m__body">
          {% include "components/tabs.html" %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
