{% extends 'layouts/application.html' %}
{% block main_title %}Union Digital Framework{% endblock %}

{% block content %}
<div class="l-page p-content">
  <section class="m-title -large">
    <div class="l-content">
      <h1 class="m-title -large__heading"><span>UDF</span> Docs</h1>
    </div>
  </section>
  <div class="l-row m">
    <div class="l-content">
      <div class="l-body copy">
        <p>Welcome to Union Digital's Front-end Framework.</p>
        <p>This is where we will display summarised documentation and Guides (when we get time to write it).</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
