{% extends 'layouts/application.html' %}
{% block main_title %}Union Digital Framework{% endblock %}

{% block content %}
<div class="l-page p-index">
  <section class="m-title -large">
    <div class="l-content">
      <h1 class="m-title -large__hd">Union Digital <span>Front-end Framework</span></h1>
    </div>
  </section>
  <div class="l-row m">
    <div class="l-content">
      <p>Welcome to Union Digital's Front-end Framework.</p>
      <p>This is where we will display the core concept, goals, tech and links (when we get time to write it).</p>
    </div>
  </div>
</div>
{% endblock %}
