{% extends 'layouts/application.html' %}
{% block main_title %}UDF JavaScript{% endblock %}

{% block content %}
<div class="l-page p-content">
  <section class="m-title -large -bg">
    <div class="m__content centered">
        <h1 class="m-title__heading centered"><span>JavaScript</span> Blocks</h1>
    </div>
  </section>
  <div class="m-title -small">
    <div class="m__content">
      <h2>Responsive Background Images</h2>
      <p>This block requires the responsive background image script</p>
    </div>
  </div>
  {% include "modules/heros/hero-standard.html" %}
  <div class="m-title -small" id="to-slick">
    <div class="m__content">
      <h2>Slick Carousel</h2>
      <p>This carousel requires, jQuery, Slick Carousel & Vide (full background video)</p>
    </div>
  </div>
  {% include "modules/heros/hero-slider.html" %}
  <section class="m-title -large" id="to-modals">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Responsive <span>Modals</span></h1>
    </div>
  </section>
  <section class="m">
    <div class="m__content">
      <div class="m__header">
        <h2>Modal Popup</h2>
        <p>opens a modal using Ajax. Displays a piece of HTML on the page</p>
      </div>
      <div class="m__body">
        {% include "components/modal/modal-popup.html" %}
      </div>
    </div>
  </section>
  <section class="m">
    <div class="m__content">
      <div class="m__header">
        <h2>Modal FullScreen iframe (video)</h2>
        <p>opens a fullscreen modal in an iframe. Used for displaying Youtube videos</p>
      </div>
      <div class="m__body"><a href="https://www.youtube.com/embed/m_b49gYK2s0" data-featherlight="iframe" class="c-btn -large">Open Video Modal</a></div>
    </div>
  </section>

  <section class="m-title -large" id="to-masonry">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Masonry</h1>
      <p>using Isotope for the masonry. The following layouts demonstrate different approaches</p>
      <ul class="l-nav--v">
        <li class="l-nav--v__item"><a href="components-grid-tile.html" class="l-nav--v__link">Fluid Masonry grid </a></li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
