{% extends 'layouts/application.html' %}
{% block main_title %}UDF Layout{% endblock %}

{% block content %}
<div class="l-page p-content">
  <section class="m-title -large -bg">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Layout </h1>
    </div>
  </section>
  <section class="m-title -large">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Grid </h1>
    </div>
  </section>
  <section class="l-row m m--grey">
    <div class="l-content">
      <div class="l-header m__header--centered">
        <h2>adaptive row</h2>
        <p>This allows you to create a centered inner panel with fixed breakpoints</p>
      </div>
      <div class="l-body grid-test">
        <div class="l-row">
          <div class="l-md-6">
            <p>content left</p>
          </div>
          <div class="l-md-6">
            <p>content right</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-4">
            <p>3col</p>
          </div>
          <div class="l-md-4">
            <p>3col</p>
          </div>
          <div class="l-md-4">
            <p>3col</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-frow m m--grey">
    <div class="l-content">
      <div class="l-header m__header--centered">
        <h2>Fluid inner content block</h2>
        <p>This allows you to create an inner column of content within a fluid container. The inner content is sized by percentage above tablet.</p>
      </div>
      <div class="l-body grid-test">
        <div class="l-row">
          <div class="l-md-6">
            <p>content left</p>
          </div>
          <div class="l-md-6">
            <p>content right</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-4">
            <p>3col</p>
          </div>
          <div class="l-md-4">
            <p>3col</p>
          </div>
          <div class="l-md-4">
            <p>3col</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-frow m m--grey">
    <div class="l-content-o">
      <div class="l-header m__header--centered">
        <h2>fluid full-width padded block</h2>
        <p>This allows you to have full width fluid blocks with inner padding</p>
      </div>
      <div class="l-body grid-test">
        <div class="l-row">
          <div class="l-md-6">
            <p>content left</p>
          </div>
          <div class="l-md-6">
            <p>content right</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-4">
            <p>3col</p>
          </div>
          <div class="l-md-4">
            <p>3col</p>
          </div>
          <div class="l-md-4">
            <p>3col</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
          <div class="l-md-3">
            <p>4col</p>
          </div>
        </div>
        <div class="l-row">
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
          <div class="l-md-2">
            <p>6col</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-frow m m--grey">
    <div class="l-header m__header--centered">
      <h2>fluid full-width block</h2>
      <p>This allows you to have full width fluid blocks</p>
    </div>
    <div class="l-body grid-test">
      <div class="l-row">
        <div class="l-md-6">
          <p>content left</p>
        </div>
        <div class="l-md-6">
          <p>content right</p>
        </div>
      </div>
      <div class="l-row">
        <div class="l-md-4">
          <p>3col</p>
        </div>
        <div class="l-md-4">
          <p>3col</p>
        </div>
        <div class="l-md-4">
          <p>3col</p>
        </div>
      </div>
      <div class="l-row">
        <div class="l-md-3">
          <p>4col</p>
        </div>
        <div class="l-md-3">
          <p>4col</p>
        </div>
        <div class="l-md-3">
          <p>4col</p>
        </div>
        <div class="l-md-3">
          <p>4col</p>
        </div>
      </div>
      <div class="l-row">
        <div class="l-md-2">
          <p>6col</p>
        </div>
        <div class="l-md-2">
          <p>6col</p>
        </div>
        <div class="l-md-2">
          <p>6col</p>
        </div>
        <div class="l-md-2">
          <p>6col</p>
        </div>
        <div class="l-md-2">
          <p>6col</p>
        </div>
        <div class="l-md-2">
          <p>6col</p>
        </div>
      </div>
    </div>
  </section>
  <section class="m-title -large">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Fluid / Adaptive Layout Modes</h1>
    </div>
  </section>
  <section class="l-frow m m--grey">
    <div class="m__content m__inner">
      <div class="m__header">
        <!--.m__header--centered-->
        <h2>Adaptive inner content block</h2>
        <p>A fixed width inner column based on 70% of the max-width of the breakpoint.</p>
      </div>
      <div class="m__body -tiles">
        <div class="c-tile t--3 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
        <div class="c-tile t--3 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
        <div class="c-tile t--3 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-frow m m--grey">
    <div class="m__content m__inner">
      <div class="m__header">
        <h2>Fluid inner content block</h2>
        <p>Fluid width inner column based on 70% of screen width</p>
      </div>
      <div class="m__body -tiles">
        <div class="c-tile t--3 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
        <div class="c-tile t--3 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
        <div class="c-tile t--3 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="l-frow m m--grey">
    <div class="m__inner">
      <div class="m__header">
        <h2>fluid full-width padded block</h2>
        <p>Full width with padding (best used for fluid content)</p>
      </div>
      <div class="m__body -tiles">
        <div class="c-tile t--4 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
        <div class="c-tile t--4 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
        <div class="c-tile t--4 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
        <div class="c-tile t--4 t--bg">
          <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="m l-frow">
    <h2>fluid full-width block</h2>
    <p>Full-width block (best used for full-width backgrounds)</p>
    <div class="c-tile t--5 t--bg">
      <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
    </div>
    <div class="c-tile t--5 t--bg">
      <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
    </div>
    <div class="c-tile t--5 t--bg">
      <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
    </div>
    <div class="c-tile t--5 t--bg">
      <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
    </div>
    <div class="c-tile t--5 t--bg">
      <div class="t__image"><img src="assets/images/test/768x768.jpg" class="img"></div>
    </div>
  </section>
</div>
{% endblock %}
