{% extends 'layouts/application.html' %}
{% block main_title %}UDF Blocks{% endblock %}

{% block content %}
  <div class="l-page p-modules">
    <section class="m-title -large -bg">
      <div class="l-content centered">
        <h1>Modules</h1>
      </div>
    </section>
    <div class="m-title -small">
      <div class="m__content centered">
        <h2>Hero Image Block</h2>
        <p>This block requires the responsive background image script. <a href="blocks-heros.html">Example of this on page</a></p>
      </div>
    </div>
    {% include "modules/heros/hero-standard.html" %}
    <div class="m-title -small">
      <div class="m__content centered">
        <h2>Hero Slider</h2>
        <p>This carousel requires jQuery, Slick Carousel & Background Image script</p>
          <!--& Vide (full background video)-->
      </div>
    </div>
    {% include "modules/heros/hero-slider.html" %}

    <section class="m-title -large" id="to-slider">
      <div class="l-content centered">
        <h1>Slider Modules</h1>
      </div>
    </section>

    <section class="m m--grey">
      <div class="m__content m__inner">
        <div class="m__header">
          <h2>Slider Module (actual images)</h2>
          <p>This is an image slider module. Requires b-click-carousel.js script and also the slick carousel plugin</p>
        </div>
        <div class="m__body">
          {% include "components/sliders/slider-basic.html" %}
        </div>
      </div>
    </section>
    <section class="m m--grey">
      <div class="m__content m__inner">
        <div class="m__header">
          <h2>Carousel Module</h2>
          <p>This is an image carousel module. Requires b-click-carousel.js script and also the slick carousel plugin</p>
        </div>
        <div class="m__body">
          {% include "components/sliders/carousel-basic.html" %}
        </div>
      </div>
    </section>
    <section class="m m--grey">
      <div class="m__content m__inner">
        <div class="m__header">
          <h2>Slider Module (responsive background images)</h2>
          <p>This is an image slider module. Requires b-click-carousel.js script, the slick carousel plugin & the responsive bg images script</p>
        </div>
        <div class="m__body">
          {% include "components/sliders/slider-bg-image.html" %}
        </div>
      </div>
    </section>
    <section class="m-title -large" id="to-content-rows">
      <div class="l-content centered">
        <h1>Content Row Modules</h1>
      </div>
    </section>
    {% include "modules/column-two/module-default.html" %}
    <section class="m-title -large" id="to-tile-rows">
      <div class="l-content centered">
        <h1>Tile Row Modules</h1>
      </div>
    </section>
    {% include "modules/column-three/module-default.html" %}
    {% include "modules/column-four/module-default.html" %}
    {% include "modules/column-five/module-default.html" %}
    {% include "modules/column-three/module-card.html" %}
    {% include "modules/column-four/module-card.html" %}
    {% include "modules/column-five/module-card.html" %}
    <section class="m-title -small" id="to-form">
      <div class="l-content centered">
        <h1>Form Modules</h1>
      </div>
    </section>
    {% include "modules/forms/form-contact/module-default.html" %}   
        
    <section class="m" id="to-full">
      <div class="m__content">
        <div class="m__header">
          <h2>Full Width Module</h2>
          <p>This module is fluid and has a mobile and desktop sized background image (requires responsive background to function)</p>
        </div>
      </div>
    </section>

    {% include "modules/full-width/full-width-standard-centered.html" %} 

    <section class="m">
      <div class="m__content">
        <div class="m__header">
          <h2>Full Width Module (side content)</h2>
          <p>This module is fluid and has a mobile and desktop sized background image (requires responsive background to function)</p>
        </div>
      </div>
    </section>
        
    {% include "modules/full-width/full-width-standard-left.html" %} 
        
    <section class="m">
      <div class="m__content">
        <div class="m__header">
          <h2>Full Width Module (side content)</h2>
          <p>This module is fluid and has a mobile and desktop sized background image (requires responsive background to function)</p>
        </div>
      </div>
    </section>

    {% include "modules/full-width/full-width-standard-right.html" %} 
        
    <section class="m" id="to-video">
      <div class="m__content">
        <div class="m__header">
          <h2>Full width responsive video iframe</h2>
          <p>Uses no JavaScript</p>
        </div>
      </div>
    </section>
    
    {% include "modules/video.html" %} 
    <div id="to-accordian"></div>
    {% include "modules/faq.html" %}
    <div id="to-tabs"></div>
    {% include "modules/tabs.html" %}

  </div>
{% endblock %}
