{% extends 'layouts/game.html' %}
{% block main_title %}HTML5 Runner game{% endblock %}

{% block content %}

<div class="m-runner" data-runner>
  <div class="m-runner__wrap">
    <div id="hammerLayer" class="m-runner__touch-layer js-touch-layer"></div>
    <div class="m-runner__info-layer">
      <div class="m-runner__message -vars js-variable-edit">
        <h4>Edit game vars</h4>
        <div class="m-form">
          <div class="m-form__col--form">
            <div class="l-row">
              <div class="l-sm-6">
                <div class="c-form__row">
                  <label for="#name" class="c-form__label">Top speed of player</label>
                  <input type="text" id="topspeed" name="topspeed" class="m-runner__var-input" placeholder="Top speed">
                </div>
                <div class="c-form__row">
                  <label for="#name" class="c-form__label">Jump height of player</label>
                  <input type="text" id="playerjump" name="playerjump" class="m-runner__var-input" placeholder="Jump height">
                </div>

                <div class="c-form__row">
                  <label for="#name" class="c-form__label">Player acceleration multiplier</label>
                  <input type="text" id="speedmultiplier" name="speedmultiplier" class="m-runner__var-input" placeholder="Acceleration multiplier">
                </div>
                <div class="c-form__row">
                  <label for="#name" class="c-form__label">Obstacle time penalty (s)</label>
                  <input type="text" id="timepenalty" name="timepenalty" class="m-runner__var-input" placeholder="time penalty (s)">
                </div>

              </div>
              <div class="l-sm-6">
                <div class="c-form__row">
                  <label for="#name" class="c-form__label">First hurdle at</label>
                  <input type="text" id="firsthurdle" name="firsthurdle" class="m-runner__var-input" placeholder="First hurdle at">
                </div>
                <div class="c-form__row">
                  <label for="#name" class="c-form__label">Number of hurdles</label>
                  <input type="text" id="numhurdles" name="numhurdles" class="m-runner__var-input" placeholder="Number of hurdles">
                </div>
                <div class="c-form__row">
                  <label for="#name" class="c-form__label">Second ball apears (hurdle num)</label>
                  <input type="text" id="ball2start" name="ball2start" class="m-runner__var-input" placeholder="Second ball apears">
                </div>
                <div class="c-form__row">
                  <label for="#name" class="c-form__label">Cone apears (hurdle num)</label>
                  <input type="text" id="conestart" name="conestart" class="m-runner__var-input" placeholder="Cone apears">
                </div>

              </div>
              <div class="l-sm-12">
                <div class="m-form__footer">
                  <button class="c-btn -normal -form -full js-edit-vars-btn"><span>continue</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
      <div class="m-runner__message -intro js-intro-message">
        <div class="l-row">
          <div class="l-md-9">
            <h2>Leap into<br />the New<br />Year with<br />Westpac</h2>
            <p>Happy New Year from<br />the team at Westpac</p>
          </div>
          <div class="l-md-3">[LOGO HERE]</div>
        </div>
        <div class="l-row">
          <div class="l-md-12"><button class="c-btn -normal -form -full js-play-btn"><span>Play Now</span></button></div>
        </div>
        <div class="l-row">
          <div class="l-md-12">
            <h6>How to play:</h6>
            <p>Click/Tap anywhere to jump, or press UP</p>
          </div>
        </div>
      </div>
      <div class="m-runner__message -end js-end-message">
        <div class="l-row">
          <div class="l-md-9">
            <h2>Congratulations!<br />
            Your time:<br />
            <span class="m-runner__end-time js-end-time"></span>
            </h2>
            <button type="button" class="c-btn -normal m-runner__btn js-end-restart">Play again</button>
            <button type="button" class="c-btn -normal">Challenge a friend</button>
          </div>
          <div class="l-md-3"></div>
        </div>
        <div class="l-row">
          <div class="l-md-8">
            <small>Share your score</small><br />
            <button type="button" class="c-btn -normal">f</button>
            <button type="button" class="c-btn -normal">in</button>
            <button type="button" class="c-btn -normal">tw</button>
          </div>
          <div class="l-md-4">[LOGO HERE]</div>
        </div>
      </div>
    </div>
    <div class="m-runner__ui-container">
      <header class="m-runner__ui-header js-game-display">
        <span class="m-runner__score -time js-time"></span>
        <!--<span class="m-runner__score -points">20pts</span>-->
      </header>

    </div>
    <canvas id='runnerGame'></canvas>
  </div>
</div>

{% endblock %}
