{% extends 'layouts/application.html' %}
{% block main_title %}UDF Styleguide{% endblock %}

{% block content %}
<div class="l-page p-content">
  <section class="m-title -large -bg">
    <div class="l-content centered">
      <h1 class="m-title -large__hd">Style Guide</h1>
    </div>
  </section>
  <div class="m-title -small">
    <div class="l-content centered">
        <h2>Typography</h2>
    </div>
  </div>
  <div class="l-row m">
    <div class="l-content">
      <div class="l-header m__header--centered">
        <h2>Headings</h2>
      </div>
      <div class="l-body copy">
        <p>The headings can use the h tag (e.g. h2) and/or class name (e.g. h1.h2)</p>
        <p>We achieve styling through opt in classes and do not style elements globally. This is to reduced the number of style collisions across projects. Elements can inherit styles from .copy or otherwise applied directly.</p>
        <p>Typographic elements do not come with any margins attached to them in order to make them more flexible in where they can be used.</p>
        <p>They get margins when they are inside a wrapper with a class of l--copy. We may need to work on the naming but the principle is solid.</p>
      </div>
      <div class="l-body copy">
        <h1 class="h1">Heading 1. The quick, <span>brown fox</span></h1>
        <h2 class="h2">Heading 2. The quick, <span>brown fox</span></h2>
        <h3 class="h3">Heading 3. The quick, <span>brown fox</span></h3>
        <h4 class="h4">Heading 4. The quick, <span>brown fox</span></h4>
        <h5 class="h5">Heading 5. The quick, <span>brown fox</span></h5>
        <h6 class="h6">Heading 6. The quick, <span>brown fox</span></h6>
      </div>
    </div>
  </div>
  <div class="l-row">
    <div class="l-content">
      <div class="l-header m__header--centered">
        <h2>Body Copy</h2>
      </div>
      <div class="l-body">
        <div class="copy">
          <p class="copy--feature">Feature text: typically used for intro paragraphs and rarely outside of copy--body. It is applied using the .copy--feature class.</p>
          <p>Here lies a bunch of body copy. The Body copy class (.copy--body) can be inherited from a parent or applied direct to any element. In this instance it is inherited. It defines the styles that represent our main text content. <a href="#">base link styling</a> is inherited or can be enhanced directly using the .copy--body__link class)</p>
          <ul>
            <li>This is how our unordered lists look.</li>
            <li>They can be inherited from .copy or styled directly with the .copy--ul class if used outside of main content.</li>
          </ul>
        </div>
        <p class="copy--meta copy">Meta copy is used for styling ancillary content, usually in the details panel, that represents details about the content rather than the actual content itself. (14px)</p>
        <p class="copy--caption copy">Caption text is used primarily below images and on our cards. </p>
        <p class="copy--small copy">Disclaimer text is used for legal and copyright text.</p>
        <blockquote>A quote here</blockquote>
      </div>
    </div>
  </div>
  <div class="m-title -small">
    <div class="l-content centered">
        <h2>List Types</h2>
    </div>
  </div>
  <div class="l-row">
    <div class="l-content">
      <div class="l-body">
        <h3>Definition List</h3>
        <dl class="copy--dl">
          <dt>Definition List Title</dt>
          <dd>This is a definition list division.</dd>
          <dt>Definition List Title</dt>
          <dd>This is a definition list division.</dd>
        </dl>
        <h3>Ordered List</h3>
        <ol class="copy--ol">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>
        <h3>Unordered List</h3>
        <ul class="copy--ul">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="m-title -large -bg">
    <div class="l-content centered">
      <h1>Icons</h1>
    </div>
  </section>
  <div class="l-row m">
    <div class="l-content">
      <div class="l-header m__header--centered">
        <h2>Basic Icons</h2>
      </div>
      <div class="l-body copy">
        <p class="copy--p">Currently this is using fontawesome which is a little too heavy for production use so either comment out un-needed functionality or use the same concepts using icon font generator.</p>
        <p><i class="fa fa-camera-retro"></i> fa-camera-retro</p>
      </div>
      <div class="l-header m__header--centered">
        <h2>Fixed Width Icons</h2>
      </div>
      <div class="l-body">
        <p class="copy--p">Use fa-fw to set icons at a fixed width. Great to use when different icon widths throw off alignment. Especially useful in things like nav lists & list groups.</p><ul class="l-nav--v">
        <li class="l-nav--v__item"><a href="#" class="l-nav--v__link"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
        <li class="l-nav--v__item"><a class="l-nav--v__link" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a></li>
        <li class="l-nav--v__item"><a class="l-nav--v__link" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a></li>
        <li class="l-nav--v__item"><a class="l-nav--v__link" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
      </ul>
    </div>
    <div class="l-header m__header--centered">
      <h2>Icon buttons</h2>
    </div>
    <div class="l-body copy">
      <a class="c-btn -normal" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
      <a class="c-btn -normal" href="#"><i class="fa fa-cog"></i> Settings</a>
    </div>
    <div class="l-body copy"><a class="c-btn -text" href="#"> View More <i class="fa fa-chevron-right"></i></a></div>
    <div class="l-header m__header--centered">
      <h2>Rotated & Flipped</h2>
    </div>
    <div class="l-body copy">
      <i class="fa fa-home"></i> normal<br>
      <i class="fa fa-home fa-rotate-90"></i> fa-rotate-90<br>
      <i class="fa fa-home fa-rotate-180"></i> fa-rotate-180<br>
      <i class="fa fa-home fa-rotate-270"></i> fa-rotate-270<br>
      <i class="fa fa-home fa-flip-horizontal"></i> fa-flip-horizontal<br>
      <i class="fa fa-home fa-flip-vertical"></i> icon-flip-vertical
    </div>
  </div>
</div>
<section class="m-title -large -bg">
  <div class="l-content centered">
    <h1>Form Styles</h1>
  </div>
</section>
<div class="l-row m-form">
  <div class="l-content">
    <div class="m__body">
      <div class="m-form__col--form">
        <form action="" class="c-form">
          <fieldset class="c-form__group">
            <div class="c-form__row">
              <label for="#name" class="c-form__label">Your Name<span class="c-form__required"> *</span></label>
              <input type="text" id="name" required placeholder="Placeholder text">
            </div>
            <div class="c-form__row">
              <label for="#email" class="c-form__label">Your Email<span class="c-form__required"> *</span></label>
              <input type="email" id="email" required>
            </div>
            <div class="c-form__row">
              <div class="l-m-6">
                <label for="#username" class="c-form__label">Username</label>
                <input type="text" id="username">
              </div>
              <div class="l-m-6">
                <label for="#password" class="c-form__label">Password</label>
                <input type="password" id="password">
              </div>
            </div>
            <div class="c-form__row">
              <label for="#phone" class="c-form__label">Your Phone Number</label>
              <input type="tel" id="phone">
            </div>
            <div class="c-form__row">
              <label for="#website" class="c-form__label">Your website</label>
              <input type="url" id="website">
            </div>
            <div class="c-form__row">
              <div class="l-m-6">
                <label class="c-form__label">A Number</label>
                <input type="number">
              </div>
              <div class="l-m-6">
                <label class="c-form__label">Disabled Field</label>
                <input type="text" disabled value="You can't type here">
              </div>
            </div>
            <div class="c-form__row">
              <label for="#comments" class="c-form__label">Comments<span class="c-form__required"> *</span></label>
              <textarea cols="30" rows="5" id="comments" required></textarea>
            </div>
            <div class="c-form__row">
              <label for="dropDownList" class="c-form__label">Enquiry Type:<span class="c-form__required">*</span></label>
              <div class="c-form__select">
                <select name="select">
                  <option value="" selected>Select an Option</option>
                  <option value="1">First Option</option>
                  <option value="2">Second Option</option>
                </select>
              </div>
            </div>
            <div class="c-form__row">
              <label class="c-form__label">Radios Label</label>
              <div class="l-m-4">
                <label>
                  <input type="radio" name="radio"> First Radio
                </label>
              </div>
              <div class="l-m-4">
                <label>
                  <input type="radio" name="radio"> Second Radio
                </label>
              </div>
              <div class="l-m-4">
                <label>
                  <input type="radio" name="radio"> Third Radio
                </label>
              </div>
            </div>
            <div class="c-form__row">
              <label class="c-form__label">Checkboxes Label</label>
              <div class="l-m-4">
                <label>
                  <input type="checkbox" name="checkbox"> First Checkbox
                </label>
              </div>
              <div class="l-m-4">
                <label>
                  <input type="checkbox" name="checkbox"> Second Checkbox
                </label>
              </div>
              <div class="l-m-4">
                <label>
                  <input type="checkbox" name="checkbox"> Third Checkbox
                </label>
              </div>
            </div>
            <div class="m-form__footer">
              <p class="c-form__required-text"><span>*</span> required fields</p>
              <button class="c-btn -normal -form"><span>Send</span></button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<section class="m-title -large -bg">
  <div class="l-inner centered">
    <h1>Buttons</h1>
  </div>
</section>
<div class="l-row m">
  <div class="l-content">
    <div class="m__header">
      <h3>Normal Buttons</h3>
    </div>
    <div class="m__body">
      <p>
        <button type="button" class="c-btn -normal">Simple button</button>
        <a href="#" class="c-btn -normal">Link button</a>
        <input type="submit" class="c-btn -normal" value="Input button">
      </p>
    </div>
    <div class="m__header">
      <h3>Large Buttons</h3>
    </div>
    <div class="m__body">
      <p>
        <button type="button" class="c-btn -large">Simple button</button>
        <a href="#" class="c-btn -large">Link button</a>
        <input type="submit" class="c-btn -large" value="Input button">
      </p>
    </div>
    <div class="m__header">
      <h3>Small Buttons</h3>
    </div>
    <div class="m__body">
      <p>
        <button type="button" class="c-btn -small">Simple button</button>
        <a href="#" class="c-btn -small">Link button</a>
        <input type="submit" class="c-btn -small" value="Input button">
      </p>
    </div>
    <div class="m__header">
      <h3>Variations</h3>
    </div>
    <div class="m__body">
      <p>
        <button type="button" class="c-btn -normal -primary">Primary button</button>
        <a href="#" class="c-btn -normal -secondary">Secondary button</a>
        <input type="submit" class="c-btn -normal -tertiary" value="Tertiary button">
      </p>
    </div>
    <div class="m__header">
      <h3>Disabled Buttons</h3>
    </div>
    <div class="m__body">
      <p>
        <button type="button" class="c-btn -normal is-disabled">Disabled button</button>
        <a href="#" class="c-btn -normal is-disabled" disabled>Link button</a>
        <input type="submit" class="c-btn -normal is-disabled" value="Input button">
      </p>
      <div class="m__header">
        <h3>Full width buttons</h3>
      </div>
      <div class="m__body">
        <p>
          <button type="button" class="c-btn -large -full">Full width button</button>
          <a href="#" class="c-btn -large -full" disabled>Link button</a>
          <input type="submit" class="c-btn -large -full" value="Input button">
        </p>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
