<header class="b-header">
  <div class="l-content"><a href="index.html" class="b-header-logo">Union</a>
    {% include "components/menus/header-nav-dropdown.html" %}
    <a id="nav-hamburger" href="#" data-offcanvas="#header-nav-offcanvas" class="b-header__hamburger b-header__hamburger--standard"></a>
  </div>
  <div id="offcanvas-overlay" class="c-offcanvas-overlay"></div>
  <div id="header-nav-offcanvas" class="c-offcanvas">
    <aside class="c-offcanvas__bar">
      <nav id="offcanvas-nav" class="c-offcanvas-nav">
        <ul class="c-offcanvas-nav__menu">
          <li class="c-offcanvas-nav__item"><a href="index.html" class="c-offcanvas-nav__link">Homepage</a></li>
          <li class="c-offcanvas-nav__item"><a href="layout.html" class="c-offcanvas-nav__link">Layout</a></li>
          <li class="c-offcanvas-nav__item"><a href="styleguide.html" class="c-offcanvas-nav__link">Styleguide</a></li>
          <li class="c-offcanvas-nav__item"><a href="components.html" class="c-offcanvas-nav__link">Components</a></li>
          <li class="c-offcanvas-nav__item"><a href="modules.html" class="c-offcanvas-nav__link">Modules</a></li>
          <li class="c-offcanvas-nav__item"><a href="javascript.html" class="c-offcanvas-nav__link">JavaScript</a></li>
          <li class="c-offcanvas-nav__item c-offcanvas-nav__item--has-dropdown"><a href="#" class="c-offcanvas-nav__link">Templates</a>
            <ul class="c-offcanvas-nav__dropdown">
              <li class="c-offcanvas-nav__item--back"><a href="#" class="c-offcanvas-nav__link">&lt;  Back</a></li>
              <li class="c-offcanvas-nav__item back_link"><a href="templates.html" class="c-offcanvas-nav__link">Templates</a></li>
              <div class="c-offcanvas-nav-dropdown__subnav">
                <li class="c-offcanvas-nav__item"><a href="components-grid-tile.html" class="c-offcanvas-nav__link">Fluid Masonry Tiles</a></li>
              </div>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</header>