<footer class="b-footer">
  <div class="l-inner">
    <nav class="b-footer-nav">
      <ul class="b-footer-nav__menu">
        <li class="b-footer-nav__item">
          <div class="b-footer-nav__link">&#169; 2015 Union Digital LTD.</div>
        </li>
        <li class="b-footer-nav__item"><a href="#" class="b-footer-nav__link">Terms &#38; Conditions</a></li>
        <li class="b-footer-nav__item"><a href="#" class="b-footer-nav__link">Other footer link</a></li>
      </ul>
    </nav>
  </div>
</footer>