// import fonts here
@font-face {
  font-family: 'AvenirLTStd-Book'; 
  src: url('../fonts/avenir-book/2EAD8A_0_0.eot');
  src: url('../fonts/avenir-book/2EAD8A_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-book/2EAD8A_0_0.woff2') format('woff2'),
  url('../fonts/avenir-book/2EAD8A_0_0.woff') format('woff'),
  url('../fonts/avenir-book/2EAD8A_0_0.ttf') format('truetype');
}
 
  
@font-face {
  font-family: 'AvenirLTStd-Black'; 
  src: url('../fonts/avenir-black/2EAD8A_1_0.eot');
  src: url('../fonts/avenir-black/2EAD8A_1_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-black/2EAD8A_1_0.woff2') format('woff2'),
  url('../fonts/avenir-black/2EAD8A_1_0.woff') format('woff'),
  url('../fonts/avenir-black/2EAD8A_1_0.ttf') format('truetype');
}

