//- integrated V2 Code

// Variables
// ========================================================================
$form-font-size                 : $font-size;
$form-font-size-s               : $font-size-s;

$form-label-font-size           : $font-size-l;
$form-label-font-size-s         : $font-size-m;
$form-label-font-weight         : $font-weight-bold;
$form-label-color               : $color ;

$form-field-color               : $color ;
$form-field-placeholder-color   : lighten($form-field-color, 20);
$form-field-bg                  : transparent;
$form-field-height              : 50px;
$form-field-height-s            : 40px;
$form-field-border              : 2px solid #ccd3db;
$form-field-border-radius       : $border-radius;
$form-field-padding             : $spacing-s;
$form-field-padding-s           : $spacing-xs;

$form-check-margin             : $spacing-s $spacing-s $spacing-s 0;
$form-check-margin-s           : $spacing-xs $spacing-xs $spacing-xs 0;
//$form-field-transition:        all .3s ease-in-out;

// Selectors
// ========================================================================

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

//reset
input,
select,
textarea,
button {
  -webkit-tap-heightighlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 0;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  display: block;
}

button,
textarea:focus,
input:focus,
select:focus {
    outline: 0;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  @include respond(margin, $form-check-margin-s, $form-check-margin-s, $form-check-margin);
  display: inline;
  vertical-align: middle;
  &:not(:disabled) {
    cursor: pointer;
  }
}

label {
  vertical-align: middle;
  display: block;
  @include respond-fs($form-label-font-size-s, $form-label-font-size-s,$form-label-font-size);
  &.-inline {
    display: inline-block;
  }
}

#{$all-text-inputs},
select {
  @include font-smoothing;
  vertical-align: middle;
  display: block;
  @include respond-fs($form-font-size-s, $form-font-size-s, $form-font-size-s, $form-font-size);
  @include respond(height, $form-field-height-s, $form-field-height-s, $form-field-height);
}

#{$all-text-inputs} {
  color: $form-field-color;
  background: $form-field-bg;
  border: $form-field-border;
  border-radius: $form-field-border-radius;
  width: 100%;
  //transition: $form-text-transition;
  @include respond(padding, $form-field-padding-s, $form-field-padding-s, $form-field-padding);
  &::placeholder {
    color: $form-field-placeholder-color;
  }
}
//fix for chrome display bug
input[type="number"]{
  padding-top: 0;
  padding-bottom: 0;
}

select[multiple] {
  @include respond(height, $form-field-height-s, $form-field-height-s, $form-field-height);
  option {
    padding: $spacing-xxs;
  }
}

textarea {
  @include respond(padding, $form-field-padding-s, $form-field-padding-s, $form-field-padding);
  color: $form-field-color;
  background: $form-field-bg;
  border: $form-field-border;
  border-radius: $form-field-border-radius;
  height: $form-textarea-height;
  width: 100%;
  @include no-touch {
    resize: none;
  }
}



