//icons

//use fontawesome by default (is quite heavy so best to not use on production site)
@import "../libs/fontawesome/font-awesome.scss";

@mixin fontAwesome{
  content: "";
  font-family: FontAwesome; 
  font-size: 40px; 
  line-height: 1; 
  opacity: 0.75; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  color:white;
}


@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?bh52e1');
  src:url('../fonts/icomoon/icomoon.eot?#iefixbh52e1') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?bh52e1') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?bh52e1') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?bh52e1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .c-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.icon-burger:before {
	content: "\e600";
}

.icon-fb:before {
	content: "\e601";
}

.icon-in:before {
	content: "\e602";
}

.icon-instagram:before {
	content: "\e603";
}

.icon-tw:before {
	content: "\e604";
}

.icon-cross2:before {
	content: "\e60a";
}

.icon-caret-right:before {
	content: "\e605";
}

.icon-caret-left:before {
	content: "\e606";
}

.icon-caret-up:before {
	content: "\e607";
}

.icon-caret-down:before {
	content: "\e608";
}

.icon-cross:before {
	content: "\e609";
}

.icon-chevron-right:before {
	content: "\e60b";
}

.icon-chevron-left:before {
	content: "\e60c";
}

.icon-chevron-thin-up:before {
	content: "\e60d";
}
.icon-chevron-thin-down:before {
	content: "\e60e";
}