// Variables
// ========================================================================
$min-font-size-body: 16px;
$min-font-size-body-rem: rem($min-font-size-body);
$min-font-size-heading: 18px;
$min-font-size-heading-rem: rem($min-font-size-heading);
//links
$link-color: $color2;
$link-color-hover: $color;
$link-color-active: $color;

// mixins / functions
// ========================================================================

@mixin text-font-size{
  @include respond-fs($font-size-s, $font-size, $font-size, $font-size-l);
}
@mixin text-font-size-l{
  @include respond-fs($font-size-s, $font-size, $font-size, $font-size-l);
}
@mixin text-font-size-s{
  @include respond-fs($font-size-min, $font-size-min, $font-size-min, $font-size-s);
}

// Selectors
// ========================================================================

html{
  font-size: $fs-s;
  @include media($media-s){
    font-size: $fs-s;
  }
  @include media($media-m){
    font-size: $fs-m;
  }
  @include media($media-l2){
    font-size: $fs-l;
  }
  @include media($media-xl){
    font-size: $fs-xl;
  }
}
body{
  font-family: $font;
  line-height: 1; //$line-height;
  font-weight: $font-weight;
}
body, h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}
// Headings
///////////////////////////////////////////////////////////////////////////////


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-header;
    text-transform: uppercase;
    font-weight: $heading-font-weight;
    color: $color;
    line-height: 1;
    margin: 0;
    span{
      font-weight: $font-weight-regular;
    }
}

h1,
.h1 {
  @include respond-fs($h1-font-size, $h1-font-size, $h1-font-size-l);
}
h2,
.h2 {
  @include respond-fs($h2-font-size, $h2-font-size, $h2-font-size-l);
}
h3,
.h3 {
  @include respond-fs($h3-font-size, $h3-font-size, $h3-font-size-l);
}
h4,
.h4 {
  @include respond-fs($h4-font-size, $h4-font-size, $h4-font-size-l);
}
h5,
.h5 {
  @include respond-fs($h5-font-size, $h5-font-size, $h5-font-size-l);
}
h6,
.h6 {
  @include respond-fs($h6-font-size, $h6-font-size, $h6-font-size, $h6-font-size-l);

}

// Links
///////////////////////////////////////////////////////////////////////////////

a {
  text-decoration: underline;
  color: $link-color;
  @include hover {
    color: $link-color-hover;
  }
  @include active {
    color: $link-color-active;
  }
  //for wrapping a link around an element and it not affect the styling of that element:
  &.c-wrap-link{
    text-decoration:none;
    * {
      text-decoration:none;
    }
  }
}

.no-touch {
  a {
    &:hover {
      color: $link-color--hover;
      text-decoration: none;
    }
    &:active {
      //color: darken($base-link-color, 10);
    }
  }
}

b, strong{
  font-weight: bold;
}

// Navigation
///////////////////////////////////////////////////////////////////////////////
.nav-a{
  @include respond-fs($font-size-s);
  line-height: $line-height;
  text-decoration: none;
  //text-transform: uppercase;
  color: $color ;
  &:hover {
    text-decoration: underline;
  } 
}

.c-offcanvas{
  ul li{
    a{
      color: $color1;
      text-transform: uppercase;
      @include respond-fs($font-size);
      border-bottom: 1px solid $color-grey-xxlt;
      display:block;
      padding-left:0; padding-right:0;
    }
    &:last-child > a{
      border-bottom:none;
    }
  }
}

// General Typography
///////////////////////////////////////////////////////////////////////////////
p,
figure {
  @include text-font-size;
  margin: 0;
  @include lh(20px, $font-size);
}


blockquote{
	font-weight: $font-weight-bold;
  @include text-font-size-l;
}

em {
  font-style: italic;
}
strong {
  font-weight: $font-weight-bold;
  font-style: normal;
}

img {
  margin: 0;
  max-width: 100%;
  width: auto;
  height: auto;
}

figure {
  img {
    display: block;
  }
  figcaption{

  }
}
// Lists
///////////////////////////////////////////////////////////////////////////////
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li{
    @include text-font-size;
  }
}

dl {
  margin: 0;
  dt,
  dd {
    font-weight: normal;
    margin: 0;
    padding: 0;
    @include text-font-size;
  }
  &%-default-dl {
    line-height: $line-height;
    margin-bottom: $pd;
    dt {
        font-weight: 700;
        margin-top: $pd;
    }
    dd {
        margin: 0;
    }
  }

  &.default {
    @extend %default-dl;
  }
}

// Separators
//---------------------------------------------------------------------------

hr {
    height: $border-size  ;
    border: 0;
    margin: $pd 0;
    background: $border-color ;
}

.centered{
  text-align:center;
}

// Content Styles
//---------------------------------------------------------------------------

.copy{//extend
  @include respond(margin-bottom, $spacing-xs, $spacing-s);
  p{
    @include respond(margin-bottom, $spacing-xs, $spacing-s);
  }
}

//eugen's list default - possibly refector to be part of .copy @TODO
ol.default {
  @extend %default-ol;
}

ul.default {
  @extend %default-ul;
}

.copy{

  line-height: $line-height;
  p{
    line-height: $line-height;
  }

  h1, h2, h3, h4, h5, h6, &--heading{
    @include respond(margin-bottom, $spacing-xs, $spacing-xs, $spacing-xs);
    text-transform: none;
    line-height: 1.2
  }
  &--feature{
    @include text-font-size-l;
    color: $color;
    font-weight: bold;
  }
  &--meta{
    @include text-font-size-s;
    font-style: italic;
  }
  &--caption{
    font-weight: $font-weight-bold;
    @include text-font-size-l;
  }
  &--small{
    @include text-font-size-s;
  }
  &--label{
    
  }
  &--dl, dl {
    @include respond(margin-bottom, $spacing-s, $spacing);
    dt {
      font-weight: $font-weight-bold;
      font-family: $font-bold;
      @include respond(margin, $spacing-xs 0, $spacing-s 0);
    }
  }
  &--ol, ol {
    list-style-type: decimal;
    @include respond(margin-top, $spacing-xs, $spacing-s);
    @include respond(margin-bottom, $spacing-xs, $spacing-s);
    @include respond(padding-left, $pd);
    line-height: $line-height;
    li {
      @include respond(margin-bottom, $spacing-xs);
    }
  }
  &--ul, ul {
    list-style-type: disc;
    @include respond(margin-top, $spacing-xs, $spacing-s);
    @include respond(margin-bottom, $spacing-xs, $spacing-s);
    @include respond(padding-left, $pd);
    line-height: $line-height;
    li {
      @include respond(margin-bottom, $spacing-xs);
    }
  }
  &--icon{
    &:before, &:after{
      content: "";
      background-size: cover;
      pointer-events: none;
    }
  }
  &-icon{
    @extend .copy--icon;

    &--before{
      @extend .copy--icon;
      :before {
        margin-right: 0.1em;
        height: 1em;
        width: 1em;
        display: inline-block;
        position: relative;
        top: 0.2em;
      }

    }
    &--after{
      @extend .copy--icon;
      :after {
        margin-left: 0.1em;
        height: 1em;
        width: 1em;
        display: inline-block;
        position: relative;
        top: 0.2em;
      }
    }
  }
}
