%flex-columns {
  display: flex;
  flex-wrap: wrap;
}

// %spacing {
//   padding-left: $spacing-s;
//   padding-right: $spacing-s;
//   @include media($media-xs) {
//     padding-left: $spacing;
//     padding-right: $spacing;
//   }
//   @include media($media-s) {
//     padding-left: $spacing-l;
//     padding-right: $spacing-l;
//   }
// }
// %no-spacing {
//   padding-left: 0;
//   padding-right: 0;
// }

// %border-top {
//   border-top: 2px solid $color-grey-light;
// }

// %border-bottom {
//   border-bottom: 2px solid $color-grey-light;
// }

// %border-right {
//   border-right: 2px solid $color-grey-light;
// }

// %border-left {
//   border-left: 2px solid $color-grey-light;
// }

// %border-vertical {
//   @extend %border-top;
//   @extend %border-bottom;
// }

// %block-border-top-margin {
//   padding-top: $spacing-xl;
//   margin-top: $spacing-xl;
//   margin-bottom: $spacing-xl;
//   @include media($media-s) {
//     padding-top: $spacing-xxl;
//     margin-top: $spacing-xxl;
//     margin-bottom: $spacing-xxl;
//   }
//   @extend %border-top;
// }



// %block-padding-top-s {
//   padding-top: $spacing-xl;
// }
// %block-padding-bottom-s {
//   padding-bottom: $spacing-xl;
// }

// %block-padding-vertical-s {
//   @extend %block-padding-bottom-s;
//   @extend %block-padding-top-s;
// }

// %block-padding-top {
//   padding-top: $spacing-xl;
//   @include media($media-xs) {
//     padding-top: $spacing-xl;
//   }
//   @include media($media-s) {
//     padding-top: $spacing-xxl;
//   }
// }
// %block-padding-bottom {
//   padding-bottom: $spacing-l;
//   @include media($media-xs) {
//     padding-bottom: $spacing-xl;
//   }
//   @include media($media-s) {
//     padding-bottom: $spacing-xxl;
//   }
// }

// %block-padding-vertical {
//   @extend %block-padding-bottom;
//   @extend %block-padding-top;
// }

// %block-margin-bottom {
//   margin-bottom: $spacing-l;
//   @include media($media-xs) {
//     margin-bottom: $spacing-xl;
//   }
//   @include media($media-s) {
//     margin-bottom: $spacing-xxl;
//   }
// }
// %block-margin-top {
//   margin-top: $spacing-l;
//   @include media($media-xs) {
//     margin-top: $spacing-xl;
//   }
//   @include media($media-s) {
//     margin-top: $spacing-xxl;
//   }
// }

// %block-margin-vertical {
//   @extend %block-margin-bottom;
//   @extend %block-margin-top;
// }


// %block-margin-padding-bottom-border {
//   @extend %block-margin-bottom;
//   @extend %block-padding-bottom;
//   @extend %border-bottom;
// }



// %block-margin-bottom-s {
//   margin-bottom: $spacing;
//   @include media($media-xs) {
//     margin-bottom: $spacing-l;
//   }
//   @include media($media-s) {
//     margin-bottom: $spacing-xl;
//   }
// }
// %block-margin-top-s {
//   margin-top: $spacing;
//   @include media($media-xs) {
//     margin-top: $spacing-l;
//   }
//   @include media($media-s) {
//     margin-top: $spacing-xl;
//   }
// }
// %block-margin-vertical-s {
//   @extend %block-margin-top-s;
//   @extend %block-margin-bottom-s;
// }

// %block-margin-bottom-large {
//   margin-bottom: $spacing-xl;
//   @include media($media-xs) {
//     margin-bottom: $spacing-xxl;
//   }
//   @include media($media-s) {
//     margin-bottom: $spacing-3xl;
//   }
// }
// %block-margin-top-large {
//   margin-top: $spacing-xl;
//   @include media($media-xs) {
//     margin-top: $spacing-xxl;
//   }
//   @include media($media-s) {
//     margin-top: $spacing-3xl;
//   }
// }
// %block-margin-vertical-large {
//   @extend %block-margin-top-s;
//   @extend %block-margin-bottom-s;
// }
