%visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// %story {
//   margin: 0 auto;
//   max-width: $breakpoint-m;
// }

// %no-paragraph-margin {
//   p {
//     margin: 0;
//   }
// }

// %default-ul {
//   list-style-type: disc;
//   margin-bottom: $spacing;
//   padding-left: $spacing;
// }

// %default-ol {
//   list-style-type: decimal;
//   margin-bottom: $spacing;
//   padding-left: $spacing;
// }

// %blank-ul {
//   margin-bottom: $spacing;
// }


// %default-dl {
//   margin-bottom: $spacing;
//   dt {
//     font-weight: $font-weight-bold;
//     margin-top: $spacing;
//   }
// }
