// Variables
// ========================================================================
$component-name                    : b-filter-nav;
$component-selector                : ".#{$component-name}";

$filter-border: 2px solid #e0eaf1;

// Selectors
// ========================================================================
#{$component-selector} {
  width:100%;
  @extend .clearfix;
  border-bottom:$filter-border;
  text-align:center;
  @include media($media-m){
    text-align:right;
  }
  li{
    display:inline-block;
    a{
      text-decoration:none;
      text-transform: uppercase;
      display:block;
      background-color:$color-grey3;
      border:none;
      margin:0 0 -2px 0;
      //transition:none !important;
      padding: 0 20px;
      line-height: 30px;
      @include media($media-l) {
        @include respond(line-height, 45px);
        @include csize(30px, padding-left);
        @include csize(30px, padding-right);
        &:hover{
          color: white !important;
          background-color: $color;
          //transition:none;
        }
      }
      &.selected{
        border: 2px solid $color;
        background-color:white;
        color:$color;
        position: relative;
        &:before {
          content:"\A";
          display:block;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          background-image:url(../images/arrow-d.svg);
          width: 20px; height: 10px;
          background-size: 27px 36px;
          bottom: -9px;
          background-position: 0 -26px;
          @include media($media-l) {
            width: 26px; height: 12px;
            bottom: -12px;
            background-position: 0 0;
          }
        }
        @include media($media-l) {
          &:hover{
            background-color: $color;
            &:before {
              background-position: 0 -13px;
            }
          }
        }
      }
    }
  }
}

