// Variables
// ========================================================================
$component-name                    : b-footer;
$component-selector                : ".#{$component-name}";

$footer-nav-color:              $color-grey;
$footer-nav-border-top:         $color-grey2 ;
$footer-nav__link-color:        $color;
$footer-nav__link-color-hover:      $color;

// Selectors
// ========================================================================
#{$component-selector} {
  @include respond(padding-top, 0, 30px);
  border-top: 1px solid $footer-nav-border-top;

  .l-inner{
      @extend %inner;
  }
  &-nav {
    color: #939598;
    margin: 5px 20px 30px;
    @include media($media-s){
      display:table;
      margin-left: auto;
      margin-right: auto;
    }
    @include respond-fs(15px);
    @include lh(30px, 16px);
    ul{
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display:table;
      li{
        display: block;
        padding: 0;
        text-align: center;
        @include text-font-size-s;
        @include media($media-m){
          display: inline-block;
        }
        &:before{
          @include media($media-m){
            content:" | ";
            margin-left: 10px;
          }
        }
        &:first-child{
          &:before{content: "";}
        }
        a{
          @extend .nav-a;
          color: #939598;
          @include text-font-size-s;
          @include media($media-m){
            margin: 0 5px;
            
          }
        }
      }
    }
  }
}
