//To do:
//replace icons with more modular icon code

// Variables
// ========================================================================
$component-name                    : b-header;
$component-selector                : ".#{$component-name}";

$header-height        : 68px;

$header-logo: url(../images/logo-new.png);
$header-logo-width      : 138px;
$header-logo-height       : 40px;

$header-logo-s: url(../images/logo-new.png);
$header-logo-width-sm    : 138px;
$header-logo-height-sm     : 40px;

$header-hamburger-height    : $header-height;
$hamburger-font-size    : 30px;
$hamburger-color    : $color;
$hamburger-color-hover    : $color2;

// Selectors
// ========================================================================
%#{$component-name}__icon{
  color:$hamburger-color;
  text-decoration: none;
  float: right;
  margin-right: 15px;
  font-size: 28px;
  margin-top:20px;
  display:none;
  @include media($media-m){
    display:block;
    &:hover{
      color: $hamburger-color-hover;
    }
  }
}

#{$component-selector} {
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid $color-grey3;
  background-color:white;
  position: fixed;
  z-index:1000;
  top:0;
  @include media($media-l2){
    position: initial;
  }

  .l-content{
    @extend %content;
  }

  &__icon{
    @extend %#{$component-name}__icon;
  }

  &-logo {
    text-align: center;
    @include hide-text;
    line-height: $header-logo-height;
    display:block;
    background-image: $header-logo;
    background-repeat: no-repeat;
    width: $header-logo-width; height: $header-logo-height;
    background-size: $header-logo-width $header-logo-height;
    margin: 18px 20px 18px 0;
    float: left;
  }

  &__twitter {
    @extend .c-icon;
    @extend .icon-tw;
    @extend .b-header__icon;
  }
  &__facebook {
    @extend .c-icon;
    @extend .icon-fb;
    @extend .b-header__icon;
  }
  &__instagram {
    @extend .c-icon;
    @extend .icon-instagram;
    @extend .b-header__icon;
  }
  &__linkedin {
    @extend .c-icon;
    @extend .icon-in;
    @extend .b-header__icon;
  }
  
  &__hamburger {

    @extend .b-header__icon;
    @extend .c-icon;
    @extend .icon-burger;
    display:block;
    position: absolute;
    right: 0;
    
    @include media($media-m){
      position: relative;
      top:0;
    }
    &.is-opened{
      @extend .icon-cross;
      font-size: 20px;
      @include respond(margin-right, 10px, 30px);
      font-size: 28px;
    }
  }
  .l-inner{
    @extend %inner;
  }

}
.b-header-nav__icons{
  a.b-header__linkedin,
  a.b-header__instagram,
  a.b-header__facebook,
  a.b-header__twitter
  {
    display:block;
    font-size: 24px;
    float:left;
    @include media($media-m){
      display:none;
    }
  }
}

.l-main{
  padding-top: $header-height;
  @include media($media-l2){
    padding-top: 0;
  }
}
