//Todo:
//check on slick theme - do we need?

// Variables
// ========================================================================
$component-name                    : b-hero-slider;
$component-selector                : ".#{$component-name}";

@import "../libs/slick/slick.scss";
@import "../libs/slick/slick-theme.scss";

//variables:
$hero-slider__height: 500px;
$hero-slider__height-sm: 300px;
$hero-slider__bg: $color-black;

//caption
$hero-slider__caption-width        : 500px;
$hero-slider__caption-width-sm        : 100%;
$hero-slider__caption-bg        : white;
$hero-slider__caption-padding        : 30px;
$hero-slider__caption-padding-sm        : 15px;
$hero-slider__caption-margin        : 30px;
//arrows
$hero-slider__dir-nav-font-size       : 80px;
$hero-slider__dir-nav-font-size-sm       : 50px;
$hero-slider__dir-nav-top       : 45%;
$hero-slider__dir-nav-top-sm       : 15%;

// Extends / Mixins
// ========================================================================
%btn--dir{
  @include respond(height, 30px);
	@extend .c-icon;
	position:absolute;
	z-index:4;
  color:white;
  @include respond-fs($hero-slider__dir-nav-font-size-sm, $hero-slider__dir-nav-font-size);
  top:$hero-slider__dir-nav-top-sm;
  @include media($media-m){
  	top:$hero-slider__dir-nav-top;
    &:hover{
      color: $color;
    }
  } 
}

// Selectors
// ========================================================================
#{$component-selector} {
  @extend .l-row;
  background-color: $hero-slider__bg;
  height: $hero-slider__height;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  
  &__item{
    position:relative;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -2;
  }
}

#{$component-selector}-overlay{
  display:block;
  width: 100%;
  height: $hero-slider__height;
  text-align: center;

  &__heading{
    color:white;
    text-shadow: rgba(0,0,0,.5) 1px 1px 4px;
  }
  &__info{
    color:white;
  }

  &__inner{
    position: absolute;
    top:40%;
    left:0; right:0;
    margin: 0 auto;
    padding: 0 25px;
    margin: 0 auto;
    width: 90%;
  }
}


//overwriting slick styles:
.slick-slider{
  margin-bottom: 0;
}

.slick-dots{
  bottom: 10px;
  li button:before, li.slick-active button:before{
    color:white;
    font-size: 50px;
  }
}
