// Variables
// ========================================================================
$component-name                    : b-hero;
$component-selector                : ".#{$component-name}";

$hero-height         : 500px;
$hero-height-sm         : 400px;

$overlay-name                    : b-hero-overlay;
$overlay-selector                : ".#{$overlay-name}";

// Selectors
// ========================================================================
#{$component-selector}-overlay{
  display:block;
  width: 100%;
  height: $hero-height;
  text-align: center;
  
  &__heading{
    color:white;
    text-shadow: rgba(0,0,0,.5) 1px 1px 4px;
  }
  &__info{
    color:white;
  }

  &__inner{
    position: absolute;
    top:40%;
    left:0; right:0;
    margin: 0 auto;
    padding: 0 25px;
    margin: 0 auto;
    width: 90%;
  }
}

#{$component-selector} {
  @extend .l-row;
  background-color: $color;
  position:relative;
  &--full{
    @extend .b-hero;
    @include respond(height, $hero-height-sm, $hero-height-sm, $hero-height);
    background-size: cover;
    background-position: center;
  }
  &__inner{
  	z-index: 2;
  	position: relative;
  	margin:0 auto;
  	overflow: hidden;
    @include media($media-m) {
      width: $breakpoint-s-max;
      max-width: $breakpoint-s-max;
    }
    @include media($media-l) {//1024
	    width: $breakpoint-m-max;
	    max-width: $breakpoint-m-max;
	  }
	  @include media($media-xl) {//1365 up
	    width: $breakpoint-l-max;
	    max-width: $breakpoint-l-max;
	  }
  }
}