// Variables
// ========================================================================
$component-name                    : m;
$component-selector                : ".#{$component-name}";

//module container
$m-margin-topbottom: 64px;
$m-border-bottom: none;
//module header
$m-header-padding-topbottom: $pd;
$m-header-padding-topbottom-sm: $spacing-s;
$m-header-h1-font-size: $h1-font-size;
$m-header-h2-font-size: $h2-font-size;
$m-header-p-font-size: $h2-font-size;
//module cols
$m-col-padding: $spacing-l;
$m-col-padding-sm: $spacing-s;
//module cols text
$m-col-h2-font-size: $h2-font-size;
$m-col-h3-font-size: $h3-font-size;
$m-col-h4-font-size: $h4-font-size;
$m-col-h5-font-size: $h5-font-size;
$m-col-p-font-size: $font-size;

// Extends / Mixins
// ========================================================================

@mixin m-adaptive-col{
  @include media($media-l2) {
    margin-left:auto;
    margin-right:auto;
    width: $breakpoint-m-max;
    max-width: $breakpoint-m-max;
    display:block;
  }
  @include media($media-xl) {
    width: $breakpoint-l-max;
    max-width: $breakpoint-l-max;
  }
}

%m-row{
	@include clearfix;
	width: 100%; 
  	position: relative;
  	overflow:hidden;
  	clear:both;
}
%m-col{
	//@include respond(padding, 0 $m-col-padding $m-col-padding); 
	@include respond(padding, $m-col-padding); 
	.m__image{
		&--full{
			@include respond(margin-left, -$m-col-padding, 0); 
			@include respond(margin-right, -$m-col-padding, 0);  
			height: auto;
			width: auto;
		}
		@include clearfix;
		display:block;
		height: auto;
		width: auto;
		img{
			width: 100%;
			margin: auto;
			display:block;
		}
	}

	@include media($media-m){
		float:left;
		display:inline-block;
		.m__image{
			margin-left: 0;
			margin-right: 0;
		}
	}
}

// Selectors
// ========================================================================

#{$component-selector} {
	@include clearfix;
	@include respond(padding, $m-margin-topbottom 0);
	border-bottom: $m-border-bottom;
	&__content{
		@include m-adaptive-col;
	}
	&__inner{
		background-color: $color-white;
	}
	&__header{
		@extend %m-row;
		@extend %m-col;
		@include respond(padding-top, 32px);
		@include respond(padding-bottom, 16px);
		&--centered, &.-centered{
			text-align: center;
		}
	}
	&__footer{
		@extend %m-col;
		text-align:right;
	}
	&__more{
		font-family: $font-header;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__h1{
		@include respond-fs($m-header-h1-font-size);
		line-height: $heading-line-height;
	}
	&__h2{
		@include respond-fs($m-header-h2-font-size);
		line-height: $heading-line-height;
	}
	&__body{
		@extend %m-row;
		&.-tiles{
			@include respond(padding, 16px 0, 16px, 0);
		}
	}
	//cols
	&-col{
		//col headings
		&__h3{
			@include respond-fs($m-col-h3-font-size);
			line-height: $heading-line-height;
		}
		&__h4{
			@include respond-fs($m-col-h4-font-size);
			line-height: $heading-line-height;
		}
		&__h5{
			@include respond-fs($m-col-h5-font-size);
			line-height: $heading-line-height;
		}

		//col grid
		&-2{
			@extend %m-col;
			@include media($media-m){
				width: 50%;
			}
		}
		&-3{
			@extend %m-col;
			@include media($media-m){
				width: 50%;
				&:last-child{
					clear:both;
					float:none;
					left: 25%;
				}
			}
			@include media($media-l2){
				width: 33.333%;
				&:last-child{
					clear:none;
					float:left;
					left: auto;
				}
			}
		}
		&-4{
			@extend %m-col;
			@include media($media-m){
				width: 50%;
			}
			@include media($media-l2){
				width: 25%;
			}
		}
		&-5{
			@extend %m-col;
			@include media($media-m){
				width: 50%;
				&:last-child{
					clear:both;
					float:none;
					left: 25%;
				}
			}
			@include media($media-l2){
				width: 20%;
				&:last-child{
					clear:none;
					float:left;
					left: auto;
				}
			}
		}
	}

	&.test{
		border: 2px dotted $color-test1;
		.w{
			&__header, &__body{
				border: 2px dotted $color-test2;
			}
		}
		.c-tile{
			border: 2px dotted $color-test3;
		}
	}

	&--grey{
		background-color: $color-grey-lt;
	}
	&--bg{
		background-image: url(../images/test/module-bg-image.svg);
		background-repeat: no-repeat;
		background-size: 30%;
		background-position: left bottom;
	}

}

