// Variables
// ========================================================================
$component-name                    : m-form;
$component-selector                : ".#{$component-name}";

$m-form-padding-top: $pd;
$m-form-padding-bottom:$pd;
$m-form-padding-top-sm: $spacing-s;
$m-form-padding-bottom-sm:$spacing-s;

// Extends / Mixins
// ========================================================================


// Selectors
// ========================================================================
#{$component-selector} {
  @extend .m;
  &__col{
    &--form{
      @extend .l-md-6;
    }
    &--contact{
      @extend .l-md-6;
      @include respond(padding-top, 18px);
    }
  }
  &__footer{
    @include respond(padding, $m-form-padding-top-sm 0 $m-form-padding-bottom-sm, $m-form-padding-top 0 $m-form-padding-bottom);
  }
  
} 