// Variables
// ========================================================================
$component-name                    : m-title;
$component-selector                : ".#{$component-name}";

$page-title-border: none;
$page-title-bg: $color-grey-lt;
$page-title-padding-top: 64px;
$page-title-padding-top-sm: 32px;
$page-title-padding-bottom: 64px;
$page-title-padding-bottom-sm: 32px;
//heading
$page-title-heading-font-weight: $heading-font-weight;
$page-title-heading-font-size: $h1-font-size-l;
$page-title-heading-font-size-sm: $h1-font-size;
$page-title-heading-margin-top: 16px;
$page-title-heading-margin-bottom: 16px;
$page-title-heading-margin-top-sm: 16px;
$page-title-heading-margin-bottom-sm: 16px;

// Selectors
// ========================================================================
#{$component-selector} {
  @extend .l-row;
  border-bottom: $page-title-border;

  &--large, &.-large{
    @include respond(padding-top, $page-title-padding-top-sm, $page-title-padding-top-sm, $page-title-padding-top);
    @include respond(padding-bottom, $page-title-padding-bottom-sm, $page-title-padding-bottom-sm, $page-title-padding-bottom);
  }

  &--small, &.-small{
    @include respond(padding-top, $spacing-m, $spacing-l);
    @include respond(padding-bottom, $spacing-m, $spacing-l);
  }
  
  &--bg, &.-bg{
    background-color: $page-title-bg;
  }

  &__heading{
    text-transform: uppercase;
    text-align:center;
    @include respond-fs($page-title-heading-font-size-sm, $page-title-heading-font-size-sm, $page-title-heading-font-size);
    font-weight: $page-title-heading-font-weight;
    @include respond(margin-top, $page-title-heading-margin-top-sm, $page-title-heading-margin-top);
    @include respond(margin-bottom, $page-title-heading-margin-bottom-sm, $page-title-heading-margin-bottom);
  }


}

