// Variables
// ========================================================================
$component-name                    : m-fullbg;
$component-selector                : ".#{$component-name}";

//container
$w-imagebg-max-height:990px;
$w-imagebg-min-height:630px;
$w-imagebg-height:50vw;
//inner

// Extends / Mixins
// ========================================================================

%#{$component-name}-side{
  height: 100vh;
  @include media($media-l){
    height: 80vh;
  }
  .m{
    &__content{
      @include m-adaptive-col;//max-width by mq
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
    }
    &__body{
      @extend %m-col;
      width: 70%;
      @include media($media-l){
        width: 40%;
      }
      
      max-width: 460px;
    }
    &-fullbg{
      &__heading{
        color: white;
      }
      &__info{
        @extend .copy;
        color: white;
      }
      &__btn{
        color:white;
        float:left;
        text-transform: uppercase;
        text-decoration:none;
        @include respond-fs(18px, 18px, 22px);
      }
    }
    &__footer{
      @include m-adaptive-col;
      position: absolute;
      bottom: 0;
      padding: $pd 0;
      left: 0;
      right: 0;

    }

  }
}

%#{$component-name}-container{
  height: $w-imagebg-height;
  max-height: $w-imagebg-max-height;
  min-height: $w-imagebg-min-height;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

// Selectors
// ========================================================================

#{$component-selector} {
  @extend %m-fullbg-container;
  height: 100vh;
  @include media($media-l){
    height: 80vh;
  }
  &__content{
    width: 100%;
    height: 100%;
    padding-top:24px;
    padding-bottom:24px;
    @include media($media-l){
      padding-top:48px;
      padding-bottom:48px;
    }
    @include media($media-xl){
      padding-top:64px;
      padding-bottom:64px;
    }

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    max-width: 718px;
    padding: 30px;
    margin: 0;
    background-color: rgba(94, 184, 228, 0.9);
    text-align: center;
  }
  &__body{
    
  }

  //side aligned full width blocks
  &--left{
    @extend %m-fullbg-container;
    @extend %m-fullbg-side;
  }

  &--right{
    @extend %m-fullbg-container;
    @extend %m-fullbg-side;
    .m{
      &__body{
        float:right;
      }
    }
  }
} 