//Todo:
//issue with height within module (possilby should use fitvid?)

// Variables
// ========================================================================
$component-name                    : m-video;
$component-selector                : ".#{$component-name}";

// Extends / Mixins
// ========================================================================

// Selectors
// ========================================================================

#{$component-selector} {
  &__wrapper {
    height: 0;
    position: relative;
    //overflow: hidden;

    // For ratio 16:9. 75% if ratio is 4:3
    padding-bottom: 56.25%; 
    &--4-3{
       padding-bottom: 75%;
    }

    embed,
    object,
    iframe {
      @include position(absolute, 0px null null 0px);
      @include size(100%);
    }
  }
}