
// Variables
// ========================================================================
$component-name                    : m-runner;
$component-selector                : ".#{$component-name}";

// Extends / Mixins
// ========================================================================

// Selectors
// ========================================================================

#{$component-selector} {
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;

  &__wrap{
    max-width: 1280px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    height:100%;
    max-height: 800px;
    position:relative;
  }

  &__ui-container{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 100;
  }

  &__ui-header{
    width:100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    display: none;
  }

  &__score{

    display: inline-block;
    padding:10px 20px;
    border-radius: 8px;
    background:#fff;
    border:1px solid #63CFFF;
  }

  &__touch-layer{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    /*background-color:rgba(0,0,0,0.5);*/
    z-index: 2000;
    display: none;
  }

  &__info-layer{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__message{
    padding:20px;
    background-color: rgba(255,255,255,0.85);
    overflow: auto;
    &.-vars{
      width:100%;
      height:100%;
    }
    &.-intro{
      display: none;
    }
    &.-end{
      display: none;
    }
  }
}
