  <article data-bg-sm="assets/images/test/home-widget3.jpg" data-bg-md="assets/images/test/home-widget3.jpg" data-responsive-bg class="m-fullbg--right">
    <div class="m__content">
      <div class="m__body">
        <h2 class="m-fullbg__heading">AT HOME I AM INDEPENDENT</h2>
        <div class="m-fullbg__info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempo.</p>
        </div><a href="#" class="m-fullbg__btn">Read JOE'S STORY</a>
      </div>
    </div>
    <div class="m__footer">
      <div class="m__body"><a href="#" class="m-fullbg__btn btn -text">Read more stories <i class="fa fa-chevron-right"></i></a></div>
    </div>
  </article>