        <article data-bg-sm="assets/images/test/home-widget1.jpg" data-bg-md="assets/images/test/home-widget1.jpg" data-responsive-bg class="m-fullbg">
          <div class="m-fullbg__content">
            <h1 class="m-fullbg__heading">RDNS EMPOWERS OUR CLIENTS TO LIVE WITH INDEPENDENCE IN THE COMFORT OF THEIR OWN HOMES.</h1>
            <div class="m-fullbg__info copy">
              <p>RDNS delivers compassionate and professional healthcare and homecare to New Zealanders to help them enjoy maximum independence and live their best life.</p>
            </div><a href="#" class="c-btn -large">FIND OUT HOW WE WORK</a>
          </div>
        </article>