//variables
$component-name                    : c-accordian;

$accordian-color-hover             : $color2;
$accordian-border                  : 2px solid $color-grey-lt;

//selectors
.#{$component-name}{
  @include respond(margin, 0 0 $spacing-m, 0 0 $spacing-l);
  &__item{
    @include clearfix;
    &.is-open{
      .#{$component-name}__info {
        visibility: visible;
        opacity: 1;
        height: auto;
        @include respond(padding, 16px, 32px);
        p:first-child{
          margin-top: 0;
        }
      }
      .#{$component-name}__icon {
        @extend .fa-chevron-up;
        color: $color;
      }
    }
    &:first-child{
      .#{$component-name}__link{
        border-top:none;
      }
    }
    &:last-child .b-accordian__link{
      border-bottom:$accordian-border;
    }
  }
  &__link{
    position: relative;
    @include respond(padding, $spacing-s $spacing-l, $spacing-s $spacing-l, $spacing-m $spacing-xxl $spacing-m $spacing-l); 
    border-top: $accordian-border;
    cursor: pointer;
    h4{
      margin:0;
      text-transform: uppercase;
      color:$color;
    }
    
    @include hover {
      color: $accordian-color-hover;
      .b-accordian__icon {
        color: $accordian-color-hover;
      }
    }
  }
  &__icon{
    @extend .fa;
    @extend .fa-chevron-down;
    position: absolute;
    right: 0;
    top:0;
    color: $color;

    @include respond(margin, $spacing-s $spacing-m, $spacing-s $spacing-m, $spacing-m $spacing-l);
    &:before{
      color: $color;
      @include respond-fs(24px, 24px, 32px);
      line-height: 0.75;
    }
    display:block;
    
  }
  &__info {
    @extend .copy;
    opacity: 0;
    visibility: hidden;
    overflow:hidden;
    height: 0;
    padding: 0;
    margin-bottom:0;
    border-top: $accordian-border;
  }
  
}