$component-name      : c-alert;
$component-selector  : ".#{$component-name}";

#{$component-selector} {
  display: block;
  margin : $spacing 0;
  padding : $spacing-xs $spacing-s;
  font : 700 1em $font-header;
  text-align: center;
  background: $success-bg;
  color: $success-color;
  border: $success-border;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &.-notice {
    background: $notice-bg;
    color: $notice-color;
    border: $notice-border;
  }
  &.-warning {
    background: $warning-bg;
    color: $warning-color;
    border: $warning-border;
  }
  &.-error {
    background: $error-bg;
    color: $error-color;
    border: $error-border;
  }
  &.-inline {
    display: inline-block;
  }
  &.-blank {
    margin: 0;
  }
}
