// Variables
// ========================================================================
$breadcrumbs-margin: $spacing-s 0;

$breadcrumbs-link-color: $color;
$breadcrumbs-link-color-hover: $color2;
$breadcrumbs-link-active-color: $color-grey;

// Extends
// ========================================================================
%breadcrumbs-link{
  color: $breadcrumbs-link-color;
  @include respond-fs($font-size-s, $font-size-xs, $font-size-xs, $font-size);
  text-decoration: none;
  @include media($media-m){
    &:hover{
      color: $breadcrumbs-link-color-hover;
      text-decoration: underline;
        &:after{
          color: $breadcrumbs-link-color;
        }
    }
  }
  &:after{
    content: " / ";
    padding: 0 $spacing-xs;
  }
}

// Selectors
// ========================================================================
.c-breadcrumbs {
  @extend .l-nav--h;
  @extend .show-up-m;
  @include respond(margin, $breadcrumbs-margin);
  padding: 0;
  text-align:left;
  &__link {
    @extend %breadcrumbs-link;
  }
  &__current {
    @extend %breadcrumbs-link;
    color: $breadcrumbs-link-active-color;
    @include hover {
      color: $breadcrumbs-link-active-color;
      text-decoration: none;
    }
    &:after{
      content: "";
    }
  }
  &__back{
    @extend %breadcrumbs-link;
    i{
      @extend .c-icon2;
      @extend .icon-arrow-left;
    }
    &:after{
      content: "";
    }

  }
}
