//- integrated V2 Code

// Variables
// ========================================================================
$component-name                    : c-btn;
$component-selector                : ".#{$component-name}";
$component-state-disabled-selector : "&.is-disabled, &[disabled], &[data-disabled]";

//colors
$component-primary-color           : $primary-color;
$component-secondary-color         : $color-black;
$component-tertiary-color          : $color-grey-medium;
$component-light-color             : $color-white;

// Extends / Mixins
// ========================================================================

%#{$component-name} {
  text-align      : center;
  text-rendering  : optimizeLegibility;
  text-decoration : none;
  text-transform: uppercase;
  background-clip : padding-box;
  cursor          : pointer;
  user-select     : none;
  white-space     : nowrap;
  position        : relative;
  display         : inline-block;
  vertical-align  : middle;
  outline         : none;
  @extend %press;

  margin: 2px;
  font-weight: 700;
  color: $component-light-color;
  background: $component-tertiary-color;
  border: 0;
  border-radius: 5px;

  @include hover {
    color: $component-light-color;
    background: $component-primary-color;
  }
}

// Selectors
// ========================================================================

#{$component-selector} {
  @extend %#{$component-name};

  &.-normal, &--normal {
    @extend %#{$component-name};
    height: 50px;
    line-height: 50px;
    padding: 0 $spacing;
    @include respond-fs(14px, 14px, 18px);
  }

  &.-small, &--small {
    @extend %#{$component-name};
    height: 40px;
    line-height: 40px;
    padding: 0 $spacing-s;
    @include respond-fs(12px, 12px, 16px);
  }
  &.-large, &--large {
    @extend %#{$component-name};
    height: 60px;
    line-height: 60px;
    padding: 0 $spacing-l;
    @include respond-fs(16px, 16px, 20px);
  }
  &.-full, &--full {
    margin: 10px 0;
    display: block;
    width: 100%;
    @include respond-fs(16px, 16px, 20px);
  }
  &.-primary, &--primary {
    background: $component-primary-color;
    @include hover {
      background: $component-secondary-color;
    }
  }
  &.-secondary, &--secondary {
    color: $component-secondary-color;
    border: 1px solid $component-secondary-color;
    background: $component-light-color;
    @include hover {
      background: $component-light-color;
      color: $component-primary-color;
      border-color: $component-primary-color;
    }
  }
  &.-tertiary, &--tertiary {
    background: $component-secondary-color;
    @include hover {
      background: lighten($component-secondary-color, 10);
    }
  }
  &.-icon, &--icon {
    &:before {
      line-height: inherit;
    }
  }
  &.-form{
    float:right;
  }
  &.-text{
    background-color:transparent;
    color: $color;
    @include hover {
      background: transparent;
      color: $color2;
    }
  }

  &__icon {
    @extend %#{$component-name}__icon;
    margin-right: 5px;
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    @extend .c-btn--icon;
  }
  
  &.is-disabled{
    @include hover {
      color: $component-light-color;
      background: $component-tertiary-color;
    }
  }

}
