//variables:
$slider__height: 500px;
$slider__height-sm: 300px;
$slider__bg: $color-black;

body

//extends:
%carousel-base{
  position: relative;
  text-align: center;
  margin: $spacing-l 0;
  outline: none;
}

%slick__arrow {
  border: 0;
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  &:before{
    @include fontAwesome;
  }
 }   

%slick__arrow--next {
  @extend .fa-chevron-right;
}
%slick__arrow--prev {
  @extend .fa-chevron-left;
}
//selectors
.c-slider {
  @extend %carousel-base;
  &--bg{
    background-color: $slider__bg;
    height: $slider__height;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    .c-slider__item{
      position:relative;
      height: 100%;
      position: relative;
      width: 100%;
      background-size: cover;
      background-position: center center;
      z-index: -2;
    }
  }
  &__image {
    width: 100%;
  }
  .slick-arrow {
    @extend %slick__arrow;
    &.slick-next {
      @extend %slick__arrow--next;
      right: 16px;
    }
    &.slick-prev {
      @extend %slick__arrow--prev;
      left: 16px;
    }
  }
}

.c-carousel {
  @extend %carousel-base;
  &.-space {
    margin-left: -$spacing-s;
    margin-right: -$spacing-s;
  }
  &__item {
    &.-space {
      margin: 0 $spacing-s;
    }
  }
  .slick-arrow {
    @extend %slick__arrow;
    &.slick-next {
      @extend %slick__arrow--next;
      right: 32px;
    }
    &.slick-prev {
      @extend %slick__arrow--prev;
      left: 32px;
    }
  }
}