//note: in development. needs tidying up

// Variables
// ========================================================================
$component-name                    : c-dropdown-nav;
$component-selector                : ".#{$component-name}";

$dropdown-min-width: 160px;
$dropdown-link-border: 1px solid rgba(0,0,0,.15);

// Extends / Mixins
// ========================================================================
%#{$component-name} {
}

// Selectors
// ========================================================================
#{$component-selector} {
 //    @include respond(padding, $spacing-xs 0);
  background-color: black;
  padding: 5px 0;
  position: absolute;
  top: 67px;
  left: 0;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
	
	&__link{
    width: 100%; 
    display: block; 
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    padding: 8px 16px;
    @include no-touch {
      &:hover{
        background-color: #555;
        color:white;
      }
    }
    
  }
}
.c-header-nav__item{
  position: relative;
  display: inline-block;
  transition: all 0.2s;  
}

.c-header-nav__item:hover > #{$component-selector} {
    display: block;
  opacity: 1;
  visibility: visible;
}

