//- integrated V2 Code
$component-name      : c-form;
$component-selector  : ".#{$component-name}";

// Variables
// ========================================================================
$form__row-margin         : 0 0 $spacing-s 0;
$form__label-margin       : 0 0 $spacing-s 0;
$form__label-margin       : $spacing-xs 0;
$form__footer-margin      : $spacing-xxl 0;

$form__required-color     : red;
$form__required-margin    : 0 $spacing-xs;
$form__required-font-size : $font-size-s; // @TODO

// Selectors
// ========================================================================

#{$component-selector} {
  position: relative;
  &__row {
    margin: $spacing 0;
    @include clearfix;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    margin: $form__label-margin;
    &--inline {
      display: inline-block;
    }
  }
  &__required{
    color: $form__required-color;
    display:inline;
    margin: $form__required-margin;
    &-text{
      color: $form__required-color;
      font-size: $form__required-font-size;
    }
  }
  &__select {
    color: $form-field-color;
    background: $form-field-bg;
    border: $form-field-border;
    border-radius: $form-field-border-radius;
    transition : $form-text-transition;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    &:after {
      width: 50px;
      height: 100%;
      background: $color-almost-white url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 50% 50%;
      content: " ";
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 10;
    }
    select {
      position: relative;
      z-index: 20;
      background: transparent;
      border: 0;
      @include respond(padding, $form-field-padding-s, $form-field-padding-s, $form-field-padding);
      width: 100%;
      cursor: pointer;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      option{
        width:100%;
      }
    }
  }
  &__footer {
    margin: $form__footer-margin;
  }

}

