//Masonry Grid Tile

//variables
$grid-tile-bg: $color-white;
$grid-tile-padding: $pd;

//tile heading:
$grid-tile__heading-font-weight: $font-weight;
$grid-tile__heading-font-size: 45px;
$grid-tile__heading-font-size-sm: 24px;
$grid-tile__heading-color: $color;
$grid-tile__heading-line-height: 1;
//tile text:
$grid-tile__text-color: $color;
$grid-tile__text-font-size: 20px;
$grid-tile__text-font-size-sm: 14px;
$grid-tile__text-line-height: 1.2;
//tile logo:
$grid-tile__logo-height: 80px;

//hover / dark style:
$grid-tile--dark-bg: $color-black;
$grid-tile-hover-box-shadow: 2px 2px 32px 0px rgba(0,0,0,0.25);
$grid-tile--dark-text-color: $color-white;
$grid-tile--overlay-bg: $color-black;

//extends



//mixins

@mixin tile-light-style{
    background-color: $grid-tile-bg;
    transition: background-color .25s linear;
    .c-grid-tile{
        &__overlay{
            opacity: 0;
        }
        &__h3, &__h4{
            color: $grid-tile__heading-color;
        }
        &__text{
            color: $grid-tile__text-color;
        }
    }
}
@mixin tile-dark-style{
    background-color: $grid-tile--dark-bg;
    transition: background-color .25s linear;
    .c-grid-tile{
        &__overlay{
            opacity: .75;
            transition: opacity .25s linear;
        }
        &__h3, &__h4, &__text{
            color: $grid-tile--dark-text-color;
        }
    }
}

.c-grid-tile{
    position:relative;
    overflow: hidden;
    width: 100%;
    display:block;

    @include tile-light-style;

    &.is-hidden {
        display: none;
    }
    img{
        display:block;
    }
    &__image{
    }
    &__info{
        //@extend .c-grid-tile-info;
        padding: get-vw(32px);
        @include clearfix;
    }

    &__h3, &__h4{
        line-height: $grid-tile__heading-line-height;
    }
    &__h3{
        @include fs-vw($h3-font-size-l, $breakpoint-xxl, $media-l2, $h3-font-size);
    }
    &__h4{
         @include fs-vw($h4-font-size-l, $breakpoint-xxl, $media-l2, $h4-font-size);
    }
    &__text{
        @include fs-vw($grid-tile__text-font-size, $breakpoint-xxl, $media-l2, $grid-tile__text-font-size-sm);
        line-height: $grid-tile__text-line-height;
    }
    &__col{
        position: relative;
        z-index: 2;
    }
    &--1col{
        width: 100%;
        @include media($media-m){
            display:block;
            float:left;
            width: 50%;
        }
        @include media($media-l2){
            width: 25%;
        }
    }
    &--2col{
        @include media($media-m){
            &__col{
                display:block;
                float:left;
                width: 50%;
            }
        }

        @include media($media-l){
            display:block;
            float:left;
            width: 50%;
        }

    }
    &--bg{
        @include tile-dark-style;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   &__overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: $grid-tile--overlay-bg;
        pointer-events: none;
    }

    &--dark{
        @include tile-dark-style;
        
    }
}
// Hovers
// ========================================================================
.no-touch {

    .c-grid-tile{
        &:hover{
            @include tile-dark-style;
            //background-color: white;
            box-shadow: $grid-tile-hover-box-shadow;
            z-index:5;
        }
        &--bg{
            &:hover{
                .c-grid-tile{
                    &__overlay{
                        opacity: 1;
                        transition: opacity .25s linear;
                    }
                }
            }
        }
        &--dark{
            &:hover{
                @include tile-light-style;
            }
        }
    }


}