// Utility Classes
///////////////////////////////////////////////////////////////////////////////

[hidden],
.hide,
.is-hidden {
    display : none;
}
.u-cf {
    &:after {
        clear : both;
        content : ' ';
        display : block;
        font-size : 0;
        height : 0;
        visibility : hidden;
    }
}
.u-cl {
    border : 0;
    clear : both;
    display : block;
    height : 0;
    margin : 0;
    padding : 0;
}

// Align Classes
///////////////////////////////////////////////////////////////////////////////
.u-tc {
   text-align: center;
}
.u-tl {
   text-align: left;
}
.u-tr {
   text-align: right;
}
.u-fl {
   float: left;
}
.u-fr {
   float: right;
}
.u-fn {
   float:none;
}
// block center
.u-bc {
 margin-left: auto;
 margin-right: auto;
}
// vertical center
.u-bvc {
 position: relative;
 top: 50%;
 transform: translateY(-50%);
}


// Separators
///////////////////////////////////////////////////////////////////////////////
@each $size in $utility-separator-sizes {
 .u-sep-#{nth($size, 1)} {
   height: 0;
   overflow: hidden;
   font-size: 0;
   display: block;
   border: 0;
   margin-bottom: #{nth($size, 2)};
 }
}
