// Variables
// ========================================================================

$masonry__list-margin                            : 0 -($spacing-s / 2);
$masonry__item-margin                            : $spacing-s $spacing-s / 2;

$masonry-media-max-small  : new-breakpoint(max-width $breakpoint-s $grid-columns);
$masonry-media-medium     : new-breakpoint(min-width $breakpoint-s $grid-columns);
$masonry-media-large      : new-breakpoint(min-width $breakpoint-m $grid-columns);




$masonry-columns          :
  1 100%,
  2 50%,
  3 33.3333%,
  4 25%
;

$masonry-columns-small    :
  1 1,
  2 1,
  3 1,
  4 1
;

$masonry-columns-medium   :
  1 1,
  2 2,
  3 3,
  4 4
;

$masonry-columns-large    :
  1 1,
  2 2,
  3 3,
  4 4
;



// Component
// ========================================================================

.c-masonry {
  @include clearfix;
  overflow: hidden;



  &__item {
    margin: $masonry__item-margin;
  }

  &__list {

    margin: $masonry__list-margin;

    &:before {
      display: none;
    }
    // default (small)
    @each $column in $masonry-columns-small {
      &--col#{nth($column,1)} {
        &[data-columns]::before {
          content:"#{nth($column,2)} .c-masonry__column.c-masonry__column--col#{nth($column,2)}";
        }
      }
    }
    // medium
    @include media($masonry-media-medium) {
      @each $column in $masonry-columns-medium {
        &--col#{nth($column,1)} {
          &[data-columns]::before {
            content:"#{nth($column,2)} .c-masonry__column.c-masonry__column--col#{nth($column,2)}";
          }
        }
      }
    }
    // large
    @include media($masonry-media-large) {
      @each $column in $masonry-columns-large {
        &--col#{nth($column,1)} {
          &[data-columns]::before {
            content:"#{nth($column,2)} .c-masonry__column.c-masonry__column--col#{nth($column,2)}";
          }
        }
      }
    }
    @include media($masonry-media-max-small) {
      @each $column in $masonry-columns-small {
        &--col#{nth($column,1)} {
          &[data-columns]::before {
            content:"#{nth($column,2)} .c-masonry__column.c-masonry__column--col#{nth($column,2)}";
          }
        }
      }
    }
  }
  &__column {
    float: left;
    @each $column in $masonry-columns {
      &--col#{nth($column,1)} {
        width: nth($column,2);
      }
    }
  }
}
