//variables

//masonry container
$masonry-bg:$color-grey-lt ;

//masonry tile:
$masonry-tile-bg: $color-white;
$masonry-tile-padding: $pd;
$masonry-tile-margin: $pd;

//tile heading:
$masonry-tile__heading-font-weight: $font-weight;
$masonry-tile__heading-font-size: 45px;
$masonry-tile__heading-font-size-sm: 24px;
$masonry-tile__heading-color: $color;
$masonry-tile__heading-line-height: 1;
//tile text:
$masonry-tile__text-color: $color;
$masonry-tile__text-font-size: 20px;
$masonry-tile__text-font-size-sm: 12px;
$masonry-tile__text-line-height: 1.2;
//tile logo:
$masonry-tile__logo-height: 80px;

//hover / dark style:
$masonry-tile--dark-bg: $color-black;
$masonry-tile-hover-box-shadow: 2px 2px 32px 0px rgba(0,0,0,0.25);
$masonry-tile--dark-text-color: $color-white;
$masonry-tile--overlay-bg: $color-black;

//extends



//mixins

@mixin masonry-tile-light-style{
    background-color: $masonry-tile-bg;
    transition: background-color .25s linear;
    .c-masonry-tile{
        &__overlay{
            opacity: 0;
        }
        &__h3, &__h4{
            color: $masonry-tile__heading-color;
        }
        &__text{
            color: $masonry-tile__text-color;
        }
    }
}
@mixin masonry-tile-dark-style{
    background-color: $masonry-tile--dark-bg;
    transition: background-color .25s linear;
    .c-masonry-tile{
        &__overlay{
            opacity: .75;
            transition: opacity .25s linear;
        }
        &__h3, &__h4, &__text{
            color: $masonry-tile--dark-text-color;
        }
    }
}

.m-masonry{
    @include clearfix;
    background-color: $masonry-bg;
    &__content{
        @include respond(margin-top, $spacing-s);
        position: relative;
        display:table;
        margin: 0 auto;
    }
}

.c-masonry-tile{
    position:relative;
    overflow: hidden;
    display:block;
    width: 100%;

    @include masonry-tile-light-style;

    &.is-hidden {
        display: none;
    }
    img{
        display:block;
    }
    &__image{
    }
    &__info{
        @include respond(padding, $pd);
        @extend .c-grid-tile-info;
    }

    &__h3, &__h4{
        line-height: $masonry-tile__heading-line-height;
    }
    &__h3{
        @include respond-fs($h3-font-size);
    }
    &__h4{
         @include respond-fs($h4-font-size);
    }
    &__text{
        @include respond-fs($masonry-tile__text-font-size);
        line-height: $masonry-tile__text-line-height;
    }
    &__col{
        position: relative;
        z-index: 2;
    }
    &--1col{
        width: 100%;
        @include media($media-m){
            display:block;
            float:left;
            width: 46%;
            margin: 2%;
        }
        @include media($media-l){
            @include px-rem(width, 308px);
            @include px-rem(margin, $spacing-s);
        }
    }
    &--2col{
        @include media($media-m){
           width: 96%;
           margin: 2%;
        }
        @include media($media-l){
            display:block;
            float:left;
            @include px-rem(width, 600px);
            @include px-rem(margin, $spacing-s);
        }

    }
    &--bg{
        @include masonry-tile-dark-style;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   &__overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: $masonry-tile--overlay-bg;
        pointer-events: none;
    }

    &--dark{
        @include masonry-tile-dark-style;
        
    }
}
// Hovers
// ========================================================================
.no-touch {

    .c-masonry-tile{
        &:hover{
            @include masonry-tile-dark-style;
            //background-color: white;
            box-shadow: $masonry-tile-hover-box-shadow;
            z-index:5;
        }
        &--bg{
            &:hover{
                .c-masonry-tile{
                    &__overlay{
                        opacity: 1;
                        transition: opacity .25s linear;
                    }
                }
            }
        }
        &--dark{
            &:hover{
                @include masonry-tile-light-style;
            }
        }
    }


}