

// ========================================================================
// Variables
// ========================================================================

$offcanvas-z-index                    : 1001;
$offcanvas-overlay-z-index            : 9;
$offcanvas-width-sm                      : 260px;
$offcanvas-width                      : 400px;
$offcanvas-transition-time            : 300ms;
$offcanvas-transition-timing-function : ease-in-out;
$offcanvas-background                 :  $color-white;
$offcanvas-padding-top: 0; 

$offcanvas-s-w: 280px;
$offcanvas-nav__link-font-size   : 16px;
$offcanvas-nav__link-line-height   : 1;
$offcanvas-nav__link-color   : $color;
$offcanvas-nav__link-border  : 1px solid #e7e7e7;
$offcanvas-nav__link-text-align   : left;
$offcanvas-nav__link-padding-leftright : 0;
$offcanvas-nav__link-padding-leftright-sm : 0;
$offcanvas-nav__link-padding-topbottom : 15px;

html{
    position:absolute;
    right: 0;
    width: 100%;
   	transition: $transition-bp;
    ///overflow:hidden;
}
.c-offcanvas-is-opened{
  right: $offcanvas-s-w;
  // @include media($media-l){
  //   right: 0;
  // }

  .c-offcanvas-overlay{
    opacity: 1;
    visibility: visible;
  }
}

.c-offcanvas{
  transition: $transition-nav;
  top:0;
  padding-top: $offcanvas-padding-top;
  overflow:hidden;
  height: 100%;
  background: $offcanvas-background;
  z-index:10;
  width: $offcanvas-s-w;
  position: fixed;
  right: - $offcanvas-width-sm;
  -webkit-overflow-scrolling: touch;
  visibility:hidden;
  opacity: 0;
  box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.25);

  &.is-opened {
    visibility: visible;
    opacity: 1;
    right: 0 !important;
    // @include media($media-l){
    //   visibility: hidden;
    //   opacity: 0;
    //   right: - $offcanvas-width-sm;
    // }
  }

  &-overlay {
      -webkit-backface-visibility: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      overflow: hidden;
      z-index: $offcanvas-overlay-z-index;
      background: transparent;
      opacity: 0;
      visibility: hidden;
      width: 100%;
  }
}


.c-offcanvas-nav{
  transition: $transition-nav;
  position:absolute;
  left:0;
  $media-s-l : $offcanvas-s-w;
  margin: 0;
  width:  $media-s-l;
  &.c-offcanvas-nav--open{
    left: -($media-s-l);
    transition: $transition-nav;
  }

  ul{
    list-style-type:none;
    padding: 0; margin: 0;

    li{
      margin: 0;
    }
  }
  &__menu{
    background-color: white;
    height: 100vh;
    padding: 0 20px !important;
  }
 
  .c-offcanvas-nav__menu > .c-offcanvas-nav__item{
    &:nth-child(2), &:nth-child(3), &:nth-child(4){
      & > .c-offcanvas-nav__link{
        font-family: $font-bold !important;
      }
    }
  }
  &__item{
    display:block !important;
    
    &.c-offcanvas-nav__item--has-dropdown{
      position: initial;
      & > .c-offcanvas-nav__link{
        position:relative;
        @extend .icon-chevron-right;
        &:before{
          @extend .c-icon;
          position:absolute;
          right:0;
        }
      }
      
    }
    &.back_link{
      .c-offcanvas-nav__link{
        font-family: $font-bold !important;
      }
    }
    &--back{
      @extend .b-header-nav__item;
      display:block !important;
      @extend .icon-chevron-left;
      &:before{
        @extend .c-icon;
        position:absolute;
        left:20px;
        top:15px;
        color: white;
      }
      a{
        padding-left: 30px;
      }
    }
    &--search{
      display:block !important;
    }
    
  }
  &__link {
    text-transform: uppercase;
    font-size: $offcanvas-nav__link-font-size;
    display:block;
    text-align:$offcanvas-nav__link-text-align;
    color: $offcanvas-nav__link-color;
    display: block;
    padding-left:$offcanvas-nav__link-padding-leftright; 
    padding-right:15px;
    padding-top:$offcanvas-nav__link-padding-topbottom;
    padding-bottom:$offcanvas-nav__link-padding-topbottom;
    line-height: $offcanvas-nav__link-line-height;
    text-decoration: none;
    border-bottom: $offcanvas-nav__link-border;
    font-family: $font !important;
    &:last-child > a{
      border-bottom:none;
    }
    &.is-active{
      font-family: $font-bold !important;
      padding-left: 16px;
    }
  }
  &__dropdown{
    background-color: $color4;
    height: 100vh;
    padding: 0 20px !important;
    transition: $transition-nav;
    width:$media-s-l;
    left:$offcanvas-s-w;
    margin: 0;//0 30px;
    @include media($media-m){
      margin:0;
    }
    visibility: hidden;
    transition: all 0.5s ease;
    &.c-offcanvas-nav__dropdown--open{
      visibility: visible;
      transition: all 0.5s ease;
    }
    position: absolute;
    top: 0;
    .c-offcanvas-nav-dropdown__subnav{
      margin-left:0;
    }
    .c-offcanvas-nav__link{
      color:white;
      &:hover{
        color:white;
      }
    }

    
  }

}

