
// ========================================================================

// Variables
// ========================================================================
$header-nav-link-padding-leftright: 30px;
$header-nav-link-line-height: 68px;
$header-nav-link-font-size-s: 14px;
$header-nav-link-font-size-m: 16px;
$header-nav-link-font-size-l: 20px;
$header-nav-link-color: $color;
//hover / active:
$header-nav-link-hover-color: white;
$header-nav-link-hover-bg: $color;
$header-nav-link-hover-transition: $transition;

//extends:
// ========================================================================
%nav-h{
	ul{
		padding: 0; 
		margin: 0;
		li{
			display:inline;
			a{
				display:block;
				float:left;
				text-decoration: none;
				transition: $header-nav-link-hover-transition;
			}
		}

	}

}

// ========================================================================
.b-header{
	
	&__hamburger--standard{
		@include media($media-l2){
			display:none !important;
		}
	}
	.c-header-nav{
		display:none;
		@include media($media-l2){
			display:block;
		}
		@extend %nav-h;
		
		&__item{
			position:relative;
			float:left;
			margin:0;
			padding:0
		}
		&_link{
			font-weight: $font-weight;
			color: $header-nav-link-color;
			text-transform: uppercase;
			font-weight: normal;
			font-family: $font-bold;
			&:hover{
				background-color: $header-nav-link-hover-bg;
				color: $header-nav-link-hover-color;
			}
		}
		&--static{
			.c-header-nav__link{
				padding: 0 $header-nav-link-padding-leftright;
				font-size: $header-nav-link-font-size-m;
				line-height: $header-nav-link-line-height;
			}
		}
		&--adaptive{
			.c-header-nav__link{
				@include respond(padding, 0, 0, 0 16px, 0 24px);
				@include respond-fs($header-nav-link-font-size-s, $header-nav-link-font-size-m, $header-nav-link-font-size-l);
				line-height: $header-nav-link-line-height;
			}
		}
			
	}
}



@include media($media-l2){

	.is-stuck{
	.b-header{
		height: $header-nav-link-line-height;
		position: fixed;
		top:0;
		transition:top 2s linear;
		}
	}

}


