// Variables
// ========================================================================

$panel-border : $border-size  $border-style  $border-color ;
$panel-bg  : $color-grey2;
$panel-margin-leftright : -$pd;
$panel-padding : $spacing-s $pd;

// Component
// ========================================================================
.c-panel {
  border: $panel-border;
  background: $panel-bg;
  padding: $panel-padding;
  @include respond(margin-left, $panel-margin-leftright);
  @include respond(margin-right, $panel-margin-leftright);
  h1, h2, h3, h4, h5, h6{
    font-weight: bold;
  }
}
