$component-name      : c-sticky;
$component-selector  : ".#{$component-name}";

%#{$component-name} {
  display: block;
  z-index: 500;
  left: 0;
  right: 0;
  width: 100%;
}

%#{$component-name}__container {

}

#{$component-selector} {
  @extend %#{$component-name};

  &__container {
    @extend %#{$component-name}__container;
  }
}
