
code{
  float: right;
  line-height: 1.4;
}

*:not(pre)>code, *:not(pre)>code[class*="language-"] {
  background: rgba(219,230,236,0.1);
  border: 1px solid #DEE2E6;
  font-size: 13px;
  font-size: 0.92857rem;
  font-weight: normal;
  padding: 0.1em 0.3em;
  border-radius: 4px;
  .code{
    &--rt{
        float:right;
      }
  }
  
}