$component-name     : c-tags;
$component-selector : ".#{$component-name}";


%#{$component-name}__link {
  @extend .c-btn--small;
  display: inline-block;
  position: relative;
  
  &.is-active {
    color: $component-light-color;
    background: $component-primary-color;
    cursor: default;
  }
}

#{$component-selector} {

  &__list {
    padding-left: 20px;
  }
  &__item {
    display: inline-block;
    @include respond(margin, $spacing-xs $spacing-s $spacing-xs 0);  
  }
  &__link {
    @extend %#{$component-name}__link;
  }
}
