//variables
$t-col-padding: $pd;
$t-padding-top: $pd;
$t-padding-top-sm: $pd;
$t-padding-sides: $pd;
$t-padding-sides-sm: $pd;
$t-padding-bottom: $pd;
$t-padding-bottom-sm: $pd;

$tile-bg: $color-white;

//tile headings:
$t-h2-font-size: $h2-font-size;
$t-h2-font-size-sm: $h2-font-size;
$t-h3-font-size: $h3-font-size;
$t-h3-font-size-sm: $h3-font-size;
$t-h4-font-size: $h4-font-size;
$t-h4-font-size-sm: $h4-font-size;
$t-h5-font-size: $h5-font-size;
$t-h5-font-size-sm: $h5-font-size;
$t-p-font-size: $font-size;
$t-p-font-size-sm: $font-size-s;

$t-heading-font-weight: $heading-font-weight;
$t-heading-font-size: inherit;
$t-heading-color: $color2;
$t-heading-line-height: 1;
$t-heading-margin: 0 0 $spacing-xs;

//tile meta:
$t__meta-color: $color-grey;
$t__meta-font-size: 15px;
$t__meta-font-size-s: $font-size-s;
$t__meta-font-weight: $font-weight;
$t__meta-font-style: italic;
$t__meta-margin-bottom: $spacing-xs;

//tile copy:
$t__copy-color: $color-grey;
$t__copy-font-size: $font-size;
$t__copy-font-size-sm: $font-size;
$t__copy-margin-bottom: $spacing-xs;


.c-tile, .t{
	//@include respond(padding, 8px, 16px);
	// @include respond(padding, 8px 16px);
	// @include respond(margin, 8px 16px);
	//make responsive col
	@include media($media-m){
		float: left;
		display:block;
		position: relative;
	}
	&--bg{
		background-color: $tile-bg;
	}
	&__image{
		@include clearfix;
		display:block;
		height: auto;
		width: auto;
		margin-bottom: $spacing-xs;
		img{
			width: 100%;
			margin: 0 auto;
			display:block;
		}
	}
	&__meta{
		font-style: $t__meta-font-style;
		//@include respond-fs($t__meta-font-size-s, $t__meta-font-size-s, $t__meta-font-size-s, $t__meta-font-size);
		@include respond-fs($t__meta-font-size-s, $t__meta-font-size-s, $font-size-xs, $t__meta-font-size);
    	color: $t__meta-color;
    	font-weight: $t__meta-font-weight;
    	@include respond(margin-bottom, $t__meta-margin-bottom);
	}
	
	//tile headings:
	&__heading{
		color: $t-heading-color;
		line-height: $heading-line-height;
		margin: $t-heading-margin;
	}
	&__footer{
		@include respond(padding, $spacing-xs 0, $spacing-xs 0);
	}
	&__h2{
		@extend .t__heading;
		@include respond(font-size, $t-h2-font-size-sm, $t-h2-font-size);
	}
	&__h3{
		@extend .t__heading;
		@include respond(font-size, $t-h3-font-size-sm, $t-h3-font-size);
	}
	&__h4{
		@extend .t__heading;
		@include respond(font-size, $t-h4-font-size-sm, $t-h4-font-size);
	}
	&__h5{
		@extend .t__heading;
		@include respond(font-size, $t-h5-font-size-sm, $t-h5-font-size);
		
	}
	//tile copy
	&__copy, &__copy p{
		@include respond-fs($font-size-s, $font-size-s, $font-size-s, $t__copy-font-size);
    	color: $t__copy-color;
    	@include respond(margin-bottom, $t__copy-margin-bottom);
    	line-height: 1.3;
	}
	&__meta{
		@extend .copy__meta;
	}
	&__btn{
		@extend .c-btn--small;
		width:100%;
		text-transform:uppercase;
	}
	&__hr{
		height: 0;
	    border: 0;
	    border-top: 1px solid $color-grey;
	    margin: 8px 0 16px;
	    width: 75%;
	}
}

//selectors:
.c-tile, .t{
	//tile widths are calculated like so: $breakpoint-width / number cols - margin
	&--2, &--2col{
		@include media($media-m){
			width: percent(680.5, 1425);
			margin: percent(16, 1425);
		}
	}
	&--3, &--3col{
		@include media($media-m){
			width: percent(680.5, 1425);
			margin: percent(16, 1425);
			&:last-child{
				clear:both;
				float:none;
				left: 25%;
			}
		}
		@include media($media-l2){
			width: percent(443, 1425);
			margin: percent(16, 1425);
			&:last-child{
				clear:none;
				float:left;
				left: auto;
			}
		}
	}
	&--4, &--4col{
		@include media($media-m){
			width: percent(680.5, 1425);
			margin: percent(16, 1425);
		}
		@include media($media-l2){
			width: percent(324.25, 1425);
			margin: percent(16, 1425);
		}
	}
	&--5, &--5col{
		@include media($media-m){
			width: percent(680.5, 1425);
			margin: 8px;
			&:last-child{
				clear:both;
				float:none;
				left: 25%;
			}
		}
		@include media($media-l2){
			width: percent(253, 1425);
			margin: percent(16, 1425);
			&:last-child{
				clear:none;
				float:left;
				left: auto;
			}
		}
	}
	&--card, &.-card{
		padding:0;
		background-color:white;
		.t__inner{
			@include respond(padding, 32px, 16px, 16px);
		}
		&.t--2{
			@include media($media-m){
				margin: percent(32, 1425);
			}
		}
		&.t--3{
			@include media($media-m){
				margin: percent(16, 1425);
			}
			@include media($media-l2){
				margin: percent(16, 1425);
			}
		}
		&.t--4{
			@include media($media-m){
				width: percent(648.5, 1425);
				margin: percent(32, 1425);
			}
			@include media($media-l2){
				width: percent(324.25, 1425);
				margin: percent(16, 1425);
			}
		}
		&.t--5{
			@include media($media-m){
				margin: 8px;
			}
			@include media($media-l2){
				margin: percent(16, 1425);
			}
		}
	}
	&__inner{
		@include respond(padding, 32px, 8px, 16px);
	}
}
