
.b-vcarousel--widget{
	position: relative;
  @include clearfix();
  @include media($media-m){
  	overflow:hidden;
  }
	.b-vcarousel__inner{
		@extend %l-inner;
		display:block;
		clear:both;
		overflow: hidden;
		@include clearfix();
		@include csize(160px, padding-top);
		
		.l-col{
			&--large{
				width:100%;
				figure{
					margin:0;
					width:100%;
				}
	      @include media($media-m){
					@extend %l-col;
					width: percent(1205, 1445);
					img{padding-right: 2px;}
	      }
	      @include csize(630, height, md);
	      overflow:hidden;
			}
			&--thumbs{
	      width:100%;
	      position:relative;
	      margin:2px 0;
	      @include csize(630, height, md);
	      overflow:hidden;
	      img{
	      	max-width: 100%;
	      	width: 100%;
	      }
	      @include media($media-m){
	      	@extend %l-col;
					width: 16.47%;
					margin:0;
	      }
	      @include media($media-l){
					@extend %l-col;
					width: percent(240, 1445);
					.b-vcarousel{
						//width: 220px;
						//height: 635px;
					}
	      }
	     
	      .b-vcarousel{
	      	@extend clearfix;
	      	&__images{
	      		img{
	      			padding: 1px;
	      			@include csize(2px, padding, md);
	      		};

	      		@include csize(630, height, md);
	      	}
				  
				  &__prev{
				    text-decoration:none;
				    @extend .c-icon;
				    position:absolute;
						z-index:10;
				    @media screen and (max-width: $breakpoint-m) {
				      //@include csize(10px, top);
				      top:35%;
				      left:15px;
				      width: 30px; height: 30px;
				      @extend .icon-chevron-left;

				    }
				    @include csize(15px, top, md);
				    @include media($media-m){
				      width: 100%;
				      height:30px;
				      @extend .icon-chevron-thin-up;
				      &:before{
				        text-align: center;
				        display: block;
				      }
				    }
				    
				  }
				  &__next{
				    text-decoration:none;
				    position:absolute;
						z-index:10;
				    @extend .c-icon;
				    @media screen and (max-width: $breakpoint-m) {
				      top:35%;
				      right:15px;
				      //width: 30px; 
				      height: 30px;
				      @extend .icon-chevron-right;
				      
				    }
				    @include csize(15px, bottom, md);
				    @include media($media-m){
				      width: 100%;
				      //height:30px;
				      @extend .icon-chevron-thin-down;
				      &:before{
				        //@extend .icon-chevron-small-down:before;
				        //content: "\e601";
				        text-align: center;
				        display: block;
				      }
				    }
				    
				  }
	      }
	    }
		}
	}

}