      <div data-accordian class="c-accordian">
        <div class="c-accordian__item">
          <div class="c-accordian__link">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h4><i class="c-accordian__icon"></i>
          </div>
          <div class="c-accordian__info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis lorem velit, ut fringilla orci fringilla blandit. Phasellus et odio scelerisque, aliquet odio id, iaculis leo. Sed posuere turpis sit amet porta fermentum. Etiam euismod rutrum tincidunt. Duis ullamcorper congue dignissim. Ut eget lorem ut purus ornare ultrices. Sed vel volutpat mi, id suscipit metus. Nullam in lectus eget justo euismod mollis. In tellus quam, consequat non laoreet eu, facilisis a sem.</p>
            <h4>This is an h4</h4>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            </ul>
            <h4>This is an h4</h4>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            </ul>
          </div>
        </div>
        <div class="c-accordian__item">
          <div class="c-accordian__link">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4><i class="c-accordian__icon fa fa-cog"></i>
          </div>
          <div class="c-accordian__info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis lorem velit, ut fringilla orci fringilla blandit. Phasellus et odio scelerisque, aliquet odio id, iaculis leo. Sed posuere turpis sit amet porta fermentum. Etiam euismod rutrum tincidunt. Duis ullamcorper congue dignissim. Ut eget lorem ut purus ornare ultrices. Sed vel volutpat mi, id suscipit metus. Nullam in lectus eget justo euismod mollis. In tellus quam, consequat non laoreet eu, facilisis a sem.</p>
          </div>
        </div>
        <div class="c-accordian__item">
          <div class="c-accordian__link">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4><i class="c-accordian__icon fa fa-cog"></i>
          </div>
          <div class="c-accordian__info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis lorem velit, ut fringilla orci fringilla blandit. Phasellus et odio scelerisque, aliquet odio id, iaculis leo. Sed posuere turpis sit amet porta fermentum. Etiam euismod rutrum tincidunt. Duis ullamcorper congue dignissim. Ut eget lorem ut purus ornare ultrices. Sed vel volutpat mi, id suscipit metus. Nullam in lectus eget justo euismod mollis. In tellus quam, consequat non laoreet eu, facilisis a sem.</p>
          </div>
        </div>
        <div class="c-accordian__item">
          <div class="c-accordian__link">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4><i class="c-accordian__icon fa fa-cog"></i>
          </div>
          <div class="c-accordian__info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisci</p>
          </div>
        </div>
      </div>