
<h3 class="u-tc">Full Width Alerts</h3>
<div class="c-alert">
  <p>Alert default style</p>
</div>
<div class="c-alert -notice">
  <p>Alert notice</p>
</div>
<div class="c-alert -error">
  <p>Alert error</p>
</div>
<div class="c-alert -warning">
  <p>Alert warning</p>
</div>
<div class="u-tc">
  <h3>Text Width Alerts</h3>
  <div class="c-alert -warning -inline">
    <p>Alert warning</p>
  </div>
</div>

