<div class="c-tags">
  <ul class="c-tags__list">
    <li class="c-tags__item">
      <a href="" class="c-tags__link is-active">Most Recent</a>
    </li>
    <li class="c-tags__item">
      <a href="" class="c-tags__link">Team Blogs</a>
    </li>
    <li class="c-tags__item">
      <a href="" class="c-tags__link">Success Stories</a>
    </li>
    <li class="c-tags__item">
      <a href="" class="c-tags__link">Emergencies</a>
    </li>
  </ul>
</div>
