<div class="m-columns -one">
  <div class="m-columns__wrap">
    <div class="m-columns__column">
      <div class="b-article">
        <div class="b-article__story">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ex et quibusdam voluptates sunt reiciendis quos at, aliquid dolorum debitis quis incidunt repellat sint nisi. Ipsa similique iste quae neque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iure, suscipit tempore architecto nam dolore a iste laudantium repudiandae cupiditate non earum quo veritatis quis esse nulla velit impedit officiis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, vero, maiores. Quisquam doloribus laboriosam, consectetur suscipit dolorum eveniet nobis illum saepe temporibus a. Laborum rerum temporibus beatae eligendi eaque, sed!</p>
        </div>
      </div>
    </div>
  </div>
</div>
