    <section data-bg-sm="assets/images/test/hero-news-detail-sm.jpg" data-bg-md="assets/images/test/union-banner.png" data-responsive-bg class="b-hero--full">
      <div class="b-hero-overlay">
        <div class="b-hero-overlay__inner">
          <h1 class="b-hero-overlay__heading">WE DESIGN AND EXECUTE INSIGHT-LED DIGITAL CAMPAIGNS AND PROJECTS.</h1>
          <p class="b-hero-overlay__info">From Tui's Catch-A-Million to New World's Little Shop, we have our fingers dipped in some of the best pies around. Metaphorical pies, not real pies - that would be unhygienic</p>
        </div>
      </div>
    </section>