    <section data-hero-carousel class="b-hero-slider slick-carousel">
      <div style="background-image: url(assets/images/test/union-banner.png);" class="slick-slide b-hero-slider__item">
        <div class="b-hero-slider-overlay">
          <div class="b-hero-slider-overlay__inner">
            <h1 class="b-hero-slider-overlay__heading">WE DESIGN AND EXECUTE INSIGHT-LED DIGITAL CAMPAIGNS AND PROJECTS.</h1>
            <p class="b-hero-slider-overlay__info">From Tui's Catch-A-Million to New World's Little Shop, we have our fingers dipped in some of the best pies around. Metaphorical pies, not real pies - that would be unhygienic</p>
          </div>
        </div>
      </div>
      <div style="background-image: url(assets/images/test/union-banner.png);" class="slick-slide b-hero-slider__item">
        <div class="b-hero-slider-overlay">
          <div class="b-hero-slider-overlay__inner">
            <h1 class="b-hero-slider-overlay__heading">WE DESIGN AND EXECUTE INSIGHT-LED DIGITAL CAMPAIGNS AND PROJECTS.</h1>
            <p class="b-hero-slider-overlay__info">From Tui's Catch-A-Million to New World's Little Shop, we have our fingers dipped in some of the best pies around. Metaphorical pies, not real pies - that would be unhygienic</p>
          </div>
        </div>
      </div>
    </section>