  <span data-featherlight data-featherlight-filter="a" data-featherlight-type="ajax">
    <a href="javascript.html #popup" class="c-btn -large">Open Modal Popup</a>
  </span>
  
  <section id="popup" class="m c-modal--popup">
    <div class="m__content">
      <div class="m__header">
        <h2>Modal Popup</h2>
      </div>
      <div class="m__body">
        <p>Sed nulla est, rutrum et tortor eget, vehicula ultricies est. Donec ante sapien, volutpat et efficitur eget, pulvinar id orci. Duis in augue sit amet turpis tempor iaculis ut ut lorem. In vel dictum felis. Donec non felis eros. Sed sed mi semper, mattis nibh vel, vulputate arcu. Nullam feugiat est accumsan pulvinar commodo. Nullam gravida arcu ac sem blandit, quis vulputate lectus bibendum. Morbi condimentum posuere lorem, vitae aliquam sem consequat nec. Nam non ornare mi. Integer nibh felis, feugiat vel ante eu, lobortis dignissim neque.</p></p>
      </div>
    </div>
  </section>