        <section data-matchheight class="m m--grey">
          <div class="m__content">
            <div class="m__header">
              <h2>5 col Card module</h2>
              <p>This is a module with 5 cols where the tiles are styled as cards (requires masonry or matchHeight to function).</p>
            </div>
            <div class="m__body -tiles">
              <div class="t t--5 t--card">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__inner">
                  <div class="t__meta">16/04/14</div>
                  <h3 class="t__h4">Tile title</h3>
                  <hr class="t__hr">
                  <div class="t__copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                  </div>
                  <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
                </div>
              </div>
              <div class="t t--5 t--card">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__inner">
                  <div class="t__meta">16/04/14</div>
                  <h3 class="t__h4">Tile title</h3>
                  <hr class="t__hr">
                  <div class="t__copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                  </div>
                  <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
                </div>
              </div>
              <div class="t t--5 t--card">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__inner">
                  <div class="t__meta">16/04/14</div>
                  <h3 class="t__h4">Tile title</h3>
                  <hr class="t__hr">
                  <div class="t__copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                  </div>
                  <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
                </div>
              </div>
              <div class="t t--5 t--card">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__inner">
                  <div class="t__meta">16/04/14</div>
                  <h3 class="t__h4">Tile title</h3>
                  <hr class="t__hr">
                  <div class="t__copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                  </div>
                  <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
                </div>
              </div>
              <div class="t t--5 t--card">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__inner">
                  <div class="t__meta">16/04/14</div>
                  <h3 class="t__h4">Tile title</h3>
                  <hr class="t__hr">
                  <div class="t__copy">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                  </div>
                  <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>