        <section data-matchheight class="m">
          <div class="m__content">
            <div class="m__header m__header--centered">
              <h2>Centered 5 col module header</h2>
              <p>This is a module with 5 cols (requires masonry or matchHeight to function)</p>
            </div>
            <div class="m__body -tiles">
              <div class="c-tile t--5 t--bg">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__meta">16/04/14</div>
                <h3 class="t__h4">Tile title</h3>
                <hr class="t__hr">
                <div class="t__copy">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                </div>
                <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
              </div>
              <div class="c-tile t--5 t--bg">
                <div class="t__meta">16/04/14</div>
                <h3 class="t__h4">Tile title</h3>
                <hr class="t__hr">
                <div class="t__copy">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                </div>
                <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
              </div>
              <div class="c-tile t--5 t--bg">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__meta">16/04/14</div>
                <h3 class="t__h4">Tile title</h3>
                <hr class="t__hr">
                <div class="t__copy">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                </div>
                <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
              </div>
              <div class="c-tile t--5 t--bg">
                <div class="t__meta">16/04/14</div>
                <h3 class="t__h4">Tile title</h3>
                <hr class="t__hr">
                <div class="t__copy">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                </div>
                <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
              </div>
              <div class="c-tile t--5 t--bg">
                <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
                <div class="t__meta">16/04/14</div>
                <h3 class="t__h4">Tile title</h3>
                <hr class="t__hr">
                <div class="t__copy">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
                </div>
                <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
              </div>
            </div>
            <div class="m__footer"><a href="#" class="m__more">View More News</a></div>
          </div>
        </section>