{% macro sprite(id, viewBox, classes) %}
  {% set viewBox = viewBox or "0 0 1 1"%}
  <span class='c-sprite -{{id}} {{classes}}'>
    <svg viewBox="{{viewBox}}"><use xlink:href='/assets/images/sprites/sprites.svg#{{id}}' /></use></svg>
  </span>
{% endmacro %}
