        <div class="l-row m m-form">
          <div class="m__content">
            <div class="m__header">
              <h2>Contact Form 2 Col Module</h2>
              <p>This is a module with a form. usually in one column but the form could be spread out across both columns</p>
            </div>
            <div class="m__body">
              <div class="m-form__col--form">
                {% include "components/forms/form-contact.html" %}
              </div>
              <div itemscope itemtype="http://schema.org/Organization" class="m-form__col--contact">
                <h2>Contact Us</h2>
                <p>Include other schema contact details here</p>
              </div>
            </div>
          </div>
        </div>