    <section class="m m--bg">
      <div class="m__content">
        <div class="m__header">
          <h2>3 col module</h2>
          <p>This is a module with 4 cols (requires masonry or matchHeight to function). Includes a background image on the module.</p>
        </div>
        <div class="m__body -tiles">
          <div class="c-tile t--3">
            <div class="t__inner">
              <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
              <div class="t__meta">16/04/14</div>
              <h3 class="t__h3">The Tile title</h3>
              <hr class="t__hr">
              <div class="t__copy">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
              </div>
              <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
            </div>
          </div>
          <div class="c-tile t--3">
            <div class="t__inner">
              <div class="t__meta">16/04/14</div>
              <h3 class="t__h3">The Tile title</h3>
              <hr class="t__hr">
              <div class="t__copy">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
              </div>
              <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
            </div>
          </div>
          <div class="c-tile t--3">
            <div class="t__inner">
              <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
              <div class="t__meta">16/04/14</div>
              <h3 class="t__h3">The Tile title</h3>
              <hr class="t__hr">
              <div class="t__copy">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p></p>
              </div>
              <div class="t__footer"><a href="#" class="t__btn">More about this</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>