{% from 'macros/helpers.html' import sprite %}<!doctype html>
<!DOCTYPE html><!--[if lte IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !(IE)]><!-->
<html class="no-touch"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>{% block title %}Union Digital Framework{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% block head %}{% endblock %}
</head>
<body>
  <div id="l-wrap" class="l-wrap">
    {% block header %}
      {% include "modules/headers/header-standard-offcanvas.html" %}
    {% endblock %} 
  </div>
  <main class="l-main">
    {% block content %}{% endblock %}
  <main>
  {% block footer %}
    {% include "modules/footers/footer-standard.html" %}
  {% endblock %}
  <script src="/assets/js/libs/require.js"></script>
  <script src="/assets/js/main.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
