{% from 'macros/helpers.html' import sprite %}<!doctype html>
<!DOCTYPE html><!--[if lte IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !(IE)]><!-->
<html class="no-touch"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>{% block title %}HTML5 Endless Runner Game{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="assets/css/styles.css">
  {% block head %}{% endblock %}
</head>
<body>

  {% block content %}{% endblock %}


  <script src="assets/js/libs/require.js"></script>
  <script src="assets/js/main.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
