    <section class="m m--grey">
      <div class="m__content m__inner">
        <div class="m__header">
          <h2>FAQ Module</h2>
          <p>Requires accordian script (bundled into scripts.js)</p>
        </div>
        <div class="m__body">
          {% include "components/accordion.html" %}
        </div>
      </div>
    </section>