    <section class="m">
      <div class="m__content">
        <div class="m__header">
          <h2>Tabs Module</h2>
          <p>Requires tabs-accordian script (bundled into scripts.js)</p>
        </div>
        <div class="m__body">
          {% include "components/tabs.html" %}
        </div>
      </div>
    </section>