    <section class="m m-video">
      <div class="m__content">
        <div class="m__body">
          <div class="m-video__wrapper">
            <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>