<div class="c-carousel -space" data-component="carousel" data-slick-carousel>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-carousel__item -space">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
          </div>