<div class="c-slider c-slider--bg" data-component="carousel" data-slick-slider>
            <div class="c-slider__item" data-bg-sm="assets/images/test/hero-news-detail-sm.jpg" data-bg-md="assets/images/test/union-banner.png" data-responsive-bg>
              <div class="b-hero-slider-overlay">
                <div class="b-hero-slider-overlay__inner">
                  <h1 class="b-hero-slider-overlay__heading">WE DESIGN AND EXECUTE INSIGHT-LED DIGITAL CAMPAIGNS AND PROJECTS.</h1>
                  <p class="b-hero-slider-overlay__info">From Tui's Catch-A-Million to New World's Little Shop, we have our fingers dipped in some of the best pies around. Metaphorical pies, not real pies - that would be unhygienic</p>
                </div>
              </div></div>
              <div class="c-slider__item" data-bg-sm="assets/images/test/hero-news-detail-sm.jpg" data-bg-md="assets/images/test/union-banner.png" data-responsive-bg>
                <div class="b-hero-slider-overlay">
                  <div class="b-hero-slider-overlay__inner">
                    <h1 class="b-hero-slider-overlay__heading">WE DESIGN AND EXECUTE INSIGHT-LED DIGITAL CAMPAIGNS AND PROJECTS.</h1>
                    <p class="b-hero-slider-overlay__info">From Tui's Catch-A-Million to New World's Little Shop, we have our fingers dipped in some of the best pies around. Metaphorical pies, not real pies - that would be unhygienic</p>
                  </div>
                </div></div>
              </div>
            </div>
          </div>