        <div class="c-slider" data-component="carousel" data-slick-slider>
            <div class="c-slider__item">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
            <div class="c-slider__item">
              <img src="assets/images/test/slide-image.jpg" alt="" class="c-carousel__image">
            </div>
          </div>