// these variables should be set after neat set up
// and should not be included into the __layout file

$media-xs     : new-breakpoint(min-width $breakpoint-xs $grid-columns);//576 - 767
$media-s      : new-breakpoint(min-width $breakpoint-s $grid-columns);//768 - 1023 
$media-m      : new-breakpoint(min-width $breakpoint-m $grid-columns);//1024 - 1424
$media-l      : new-breakpoint(min-width $breakpoint-l $grid-columns);//1070 - 1424
$media-l2      : new-breakpoint(min-width $breakpoint-l2 $grid-columns); //1070 - 1424
$media-xl     : new-breakpoint(min-width $breakpoint-xl $grid-columns);//1425 - 1899
$media-xxl     : new-breakpoint(min-width $breakpoint-xxl $grid-columns); //1900 up

$media-max-xs : new-breakpoint(max-width $breakpoint-min-max $grid-columns);
$media-max-s  : new-breakpoint(max-width $breakpoint-xs-max $grid-columns);
$media-max-m  : new-breakpoint(max-width $breakpoint-s-max $grid-columns);
$media-max-l  : new-breakpoint(max-width $breakpoint-m-max $grid-columns);
$media-max-xl : new-breakpoint(max-width $breakpoint-xl $grid-columns);
$media-max-xxl : new-breakpoint(max-width $breakpoint-xxl $grid-columns);

$media-breakpoints: (
  xs     : $media-xs,
  s      : $media-s,
  m      : $media-m,
  l      : $media-l,
  xl     : $media-xl,
  xxl     : $media-xxl,
  max-xs : $media-max-xs,
  max-s  : $media-max-s,
  max-m  : $media-max-m,
  max-l  : $media-max-l,
  max-xl : $media-max-xl
);