// Variables
// ========================================================================

$frow-margin-leftright  : 30px;
$content__col-padding-leftright: 15px;
$content__col-padding-leftright-sm: 15px;

//extends / mixins:
// ========================================================================
@mixin adaptive-col{
  @include media($media-l2) {
    margin: 0 auto;
    width: $breakpoint-m-max;
    max-width: $breakpoint-m-max;
    display:block;
    padding: 0 $pd*$z-lg;
  }
  @include media($media-xl) {
    width: $breakpoint-l-max;
    max-width: $breakpoint-l-max;
    padding: 0 $pd;
  }
}

%content {
  transition: $transition-bp;
  min-width: $breakpoint-min;
  @include respond(margin-right, $pd);
  @include respond(margin-left, $pd);
  //central col only applicable for desktop:
  //@extend %adaptive-col;
  @include adaptive-col;
}

// Wraps
// ========================================================================
// this is the main wrapper - should be used only once right after the body tag
.l-wrap {
  margin:0 auto;
}
.l-main{
  @include clearfix;
}

// use this class to wrap grids
.l-container {
  @include outer-container();
}

// Columns and Rows
// ========================================================================


// use this class to stack adaptive blocks
.l-row, .row {
  @include row();
  .l-content, .content{
    @extend %content;
  }
  &.test{
    border: 2px dotted $color-test1;
    .l-content, .content{
      border: 2px dotted $color-test2;
    }
  }
}
// use this class to stack fluid blocks
.l-frow {
  //full width
  @include clearfix;
  padding: 0;
  //content col:
  .l-content, .content{
    @include respond(margin, 0 $pd);
    &-o{
      @include respond(padding, 0 $frow-margin-leftright);
    }
    //fluid % content col:
    @include media($media-l2) {
      width: 75%;
      margin: 0 auto;
    }
    // .l-header, .l-content, .l-footer{
    //   @extend %l-col;
    // }
  }
  &.test{
    border: 2px dotted $color-test1;
    .l-content, .content{
      border: 2px dotted $color-test2;
    }
    .l-header, .l-body{
      border: 2px dotted $color-test3;
    }
  }
}

// use this class to clear the grids
.l-omega {
  @include omega();
}

// simple full-width row
.l-full {
  width: 100%;
  float: none;
  margin: 0;
}

.l-small, .l-sm {
  @for $col from 1 through $grid-columns {
    &-#{$col} {
      @include span-columns($col);
      min-height: 1px;
    }
    &-shift-#{$col} {
      @include shift($col);
    }
  }
  &-6:nth-child(even){
    margin-right:0;
  }
  &-3:nth-child(n3+3){
    margin-right:0;
  }
  &-2:nth-child(n6+6){
    margin-right:0;
  }
}

.l-medium, .l-md, .l-m, .l-col-m{
  @include media($media-m) {
    @for $col from 1 through $grid-columns {
      &-#{$col} {
        @include span-columns($col);
        min-height: 1px;
      }
      &-shift-#{$col} {
          @include shift($col);
      }
    }
    &-6:nth-child(even){
      margin-right:0;
    }
    &-3:nth-child(n3+3){
      margin-right:0;
    }
    &-2:nth-child(n6+6){
      margin-right:0;
    }
  }
}

.l-large, .l-lg, .l-l, .l-col-l{
  @include media($media-l) {
    @for $col from 1 through $grid-columns {
      &-#{$col} {
        @include span-columns($col);
        min-height: 1px;
      }
      &-shift-#{$col} {
        @include shift($col);
      }
    }
    &-6:nth-child(even){
      margin-right:0;
    }
    &-3:nth-child(n3+3){
      margin-right:0;
    }
    &-2:nth-child(n6+6){
      margin-right:0;
    }
  }
}

.l-xlarge, .l-xlg, .l-xl, .l-col-xl{
  @include media($media-xl) {
    @for $col from 1 through $grid-columns {
      &-#{$col} {
        @include span-columns($col);
        min-height: 1px;
      }
      &-shift-#{$col} {
          @include shift($col);
      }
    }
    &-6:nth-child(even){
      margin-right:0;
    }
    &-3:nth-child(n3+3){
      margin-right:0;
    }
    &-2:nth-child(n6+6){
      margin-right:0;
    }

  }
}

.grid-test{
  .l-row{
    padding: 10px 0;
    background-color: $color-grey-xlt;
  }
  .l-md{
    @for $col from 1 through $grid-columns {
      &-#{$col} {
        padding: 10px;
        background-color: $color-grey-lt;
      }
    }
  }
}

.hide-up{
  &-s{
    @include hide-up(s);
  }
  &-m{
    @include hide-up(m);
  }
  &-l{
    @include hide-up(l);
  }
}
.show-up{
  &-s{
    @include show-up(s);
  }
  &-m{
    @include show-up(m);
  }
  &-l{
    @include show-up(l);
  }
}

.l-body{
  @include respond(padding-top, $spacing-s, $spacing-s, $spacing-s, $spacing-xs);
  @include respond(padding-bottom, $spacing-s, $spacing-s, $spacing-s, $spacing-xs);
}


//for navs using lists:
.l-nav{
  &--h{
    padding-left:0;
    li {
      display:inline-block;
    }
    a{
      text-decoration:none;
    }
  }
  &--v{
    padding-left:0;
   li{
      display:block;
      list-style-type: none;
      @include respond(margin, $spacing-xs 0, $spacing-s 0);
    }
    a{
      text-decoration:none;
    }
  }
}
