// Neat Settings
///////////////////////////////////////////////////////////////////////////////

// $column             : 90px;
// $gutter             : 30px;
$grid-columns          : 12;
$max-width             : $breakpoint-xl;

// Tests
// $visual-grid           : true;
// $visual-grid-color     : red;
// $visual-grid-index     : front;
// $visual-grid-opacity   : 0.05;
