// Fonts
///////////////////////////////////////////////////////////////////////////////

$font : 'AvenirLTStd-Book', Helvetica, Arial, sans-serif;
$font-nav : $font;
$font-header : 'AvenirLTStd-Black', Helvetica, Arial, sans-serif;
$font-bold : $font-header;

// Transitions
///////////////////////////////////////////////////////////////////////////////
$transition-time       : 200ms;
$transition-time--slow : 400ms;
$transition-easing     : ease-in-out;

$transition: all $transition-time  $transition-easing;
//breakpoint transition:
$transition-bp--speed: 300ms;
$transition-bp--easing: ease-in-out;
$transition-bp: $transition;
$transition-nav: $transition-bp;

// Colors
///////////////////////////////////////////////////////////////////////////////

//black, white & grey:
$color-black               : #333;
$color-grey                : #6d6e71;
$color-grey2                : #d9dbdd;
$color-grey3         			: #e5e9ee;
$color-grey-lt          : #f2f4f6;
$color-grey-xxlt       : #cad1da;
$color-grey-xlt       : #f9fafb;
$color-white               : #fff;

//needs testing before committing completely to these car names:
$color-black        : #0A0908;
$color-grey-dark    : #3D3B3C;
$color-grey-medium  : #7F7979;
$color-grey-lighter : #BFC3BA;
$color-grey-light   : #A9ACA9;
$color-almost-white : #F2F4F3;
$color-white        : #fff;

//brand colors. Change and add these
$color-brand-blue: #009ee2;
$color-brand-blue-dk: darken(#009ee2, 25);
$color-brand-red: #00234c;
$color-brand-orange: #00234c;

$color-test1: #eaf8fd;
$color-test2: #d0edf6;
$color-test3: #c0dde6;

//color names for use in re-usable components:
$color1           : $color-brand-blue-dk;
$color2                : $color-brand-blue;
$color3         : $color-brand-red;
$color4                  : $color-brand-orange;
$color        : $color1;

// Main colors
$body-color           : $color-white;
$text-color          : $color-grey;
$primary-color      : $color1;
$color-field: #bac7d3;

$success-color        : #567E1F;
$success-border       : 1px solid lighten($success-color, 30);
$success-bg           : lighten($success-color, 55);

$error-color        : #CE5374;
$error-border       : 1px solid lighten($error-color, 25);
$error-bg           : lighten($error-color, 40);

$notice-color       : #0D808E;
$notice-border      : 1px solid lighten($notice-color, 40);
$notice-bg          : lighten($notice-color, 55);

$warning-color      : #F49F0A;
$warning-border     : 1px solid lighten($warning-color, 20);
$warning-bg         : lighten($warning-color, 40);

// Links colors
$link-color                    : $warning-color;
$link-color--hover             : darken($warning-color, 10);
$link-color--active            : darken($warning-color, 20);
$link-decoration               : none;

$link-color--primary           : $primary-color;
$link-color--primary--hover    : darken($primary-color, 10);
$link-color--primary--active   : darken($primary-color, 20);
$link-decoration--primary      : underline;

$link-color--secondary         : $color-grey-dark;
$link-color--secondary--hover  : darken($color-grey-dark, 10);
$link-color--secondary--active : darken($color-grey-dark, 20);
$link-decoration--secondary    : underline;

// Typography
///////////////////////////////////////////////////////////////////////////////
// Sizes Calculations
$z-xlg: 1;//1425 - 1899
$z-xxlg: 1; //1.3333333333;//1900 up
$z-lg: 0.75;//1080 - 1424
$z-md: 1; //0.5626373626;//768 - 1023 
$z-sm: 1; //0.421978022; //320 - 575
$z-xsm: 0.75; //0.421978022; //320 - 576 

$font-size-base           : 16px;
$font-size                : $font-size-base;

//REM calculations for HTML tag:
$fs-xs: $font-size-base*$z-md;
$fs-s: $font-size-base*$z-md;
$fs-m: $font-size-base*$z-md;
$fs-l: $font-size-base*$z-lg;
$fs-xl: $font-size-base*$z-xlg;
$fs-xxl: $font-size-base*$z-xxlg;

//body text
$font-size-min        : 12px;
$font-size-xs       : $font-size-min;
$font-size-s         :14px;
$font-size-m        : $font-size-s;
$font-size-l        : 18px;
$font-size-xl        : 20px;

$line-height         : 1.4;

//font weights
$font-weight: 100;
$font-weight-light: 100;
$font-weight-bold: 500;
$font-weight-regular: 400;

//headings
$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.25;
$heading-margin      : .67em 0;//@TODO

$h1-font-size        : 34px;
$h1-font-size-l     : 60px;
$h1-line-height      : 40px;
$h1-line-height-l    : 54px;
$h1-font-weight      : $font-weight-bold;

$h2-font-size        : 30px;
$h2-font-size-l     : 48px;
$h2-line-height     : 30px;
$h2-line-height-l   : 36px;
$h2-font-weight      : $font-weight-bold;

$h3-font-size        : 22px;
$h3-font-size-l     : 36px;
$h3-line-height      : 24px;
$h3-line-height-l   : 28px;
$h3-font-weight      : $font-weight-bold;

$h4-font-size        : 18px;
$h4-font-size-l     : 26px;
$h4-line-height      : 20px;
$h4-line-height-l   : 26px;
$h4-font-weight      : $font-weight-bold;

$h5-font-size        : 18px;
$h5-font-size-l     : 20px;
$h5-line-height      : 16px;
$h5-line-height-l   : 20px;
$h5-font-weight      : $font-weight-bold;

$h6-font-size        : 16px;
$h6-font-size-l     : 16px;
$h6-line-height      : 14px;
$h6-line-height-l   : 18px;
$h6-font-weight      : $font-weight-bold;



// Blocks Sizes
///////////////////////////////////////////////////////////////////////////////
$spacing-xxs : 4px;
$spacing-xs  : 8px;
$spacing-s   : 16px;
$spacing     : 24px;
$spacing-m   : 24px;
$spacing-l   : 32px;
$spacing-xl  : 56px;
$spacing-xxl : 64px;
$spacing-3xl : 128px;
$pd  : $spacing-l;

// Borders
///////////////////////////////////////////////////////////////////////////////
$border-size        : 1px;
$border-size--thick : 2px;
$border-style       : solid;
$border-color       : $color-grey-light;
$border-color--dark : $color-grey-lighter;

// Radius
///////////////////////////////////////////////////////////////////////////////
$border-radius           : 6px;
$border-radius-full           : 1000px;

// Forms
///////////////////////////////////////////////////////////////////////////////

$form-text-color               : $text-color;
$form-text-placeholder-color   : $text-color;
$form-text-bg                  : $color-white;
$form-text-border              : $border-size $border-style $border-color--dark;
$form-text-transition          : all .3s ease-in-out;

$form-text-font-size           : 14px;
$form-text-font-size-l        : 16px;

$form-text-font-size-large    : 16px;
$form-text-font-size-large--l : 20px;

$form-text-font-size-small    : 12px;
$form-text-font-size-small--l : 14px;

$form-text-height              : 32px;
$form-text-height--l           : 40px;

$form-text-height--large       : 42px;
$form-text-height--large--l    : 60px;

$form-text-height--small       : 24px;
$form-text-height--small--l    : 30px;

$form-text-width--short        : 100px;
$form-text-width--long         : 300px;
$form-text-width--full         : 100%;

$form-textarea-height          : 90px;
$form-textarea-height--l       : 120px;

// Breakpoints
///////////////////////////////////////////////////////////////////////////////


//needs testing before completely integrate these sizes:
$breakpoint-min     : 320px;
$breakpoint-xs      : $breakpoint-min;
$breakpoint-s       : 576px;
$breakpoint-m       : 768px;// tablet portrait
$breakpoint-l       : 1024px;// tablet landscape
$breakpoint-l2      : 1070px;// 1425 * 0.75 (start adaptive from here)
$breakpoint-xl      : 1425px;// 1900 * 0.75
$breakpoint-xxl     : 1900;//1920 - scrollbar
$breakpoint-3xl     : 2530;//1920 * 1.333

$breakpoint-min-max : ($breakpoint-xs - 1);
$breakpoint-xs-max  : $breakpoint-min-max;
$breakpoint-s-max  : ($breakpoint-m - 1);
$breakpoint-m-max : ($breakpoint-l2 - 1);
$breakpoint-l-max  : ($breakpoint-xl - 1);
$breakpoint-l2-max  : ($breakpoint-xl - 1);
$breakpoint-xl-max  : ($breakpoint-xxl - 1);
$breakpoint-max     : $breakpoint-3xl;

// Utility Variables
///////////////////////////////////////////////////////////////////////////////

$utility-separator-sizes: (
  xs : $spacing-xs,
  s  : $spacing-s,
  m  : $spacing,
  l  : $spacing-l,
  xl : $spacing-xl
);

