    <section class="m m--grey">
      <div class="m__content m__inner">
        <div class="m__header">
          <h2>2 col module (row header)</h2>
          <p>This is a module with 2 cols. This module has a background-color and "m__inner" set on the central column</p>
        </div>
        <div class="m__body -tiles">
          <div class="c-tile t--2 copy">
            <div class="t__inner">
              <h3>WHO WE CARE FOR</h3>
              <h4>This is a sub header</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempo</p>
              <h4>This is a sub header</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempo</p>
            </div>
          </div>
          <div class="c-tile t--2">
            <div class="t__image"><img src="assets/images/test/tile-image.jpg" class="img"></div>
          </div>
        </div>
      </div>
    </section>