                <form action="" class="c-form">
                  <fieldset class="c-form__group">
                    <div class="c-form__row">
                      <label for="#name" class="c-form__label">Your Name<span class="c-form__required"> *</span></label>
                      <input type="text" id="name" required placeholder="Placeholder text">
                    </div>
                    <div class="c-form__row">
                      <label for="#email" class="c-form__label">Your Email<span class="c-form__required"> *</span></label>
                      <input type="email" id="email" required>
                    </div>
                    <div class="c-form__row">
                      <label for="#phone" class="c-form__label">Your Phone Number</label>
                      <input type="tel" id="phone">
                    </div>
                    <div class="c-form__row">
                      <label for="#comments" class="c-form__label">Comments<span class="c-form__required"> *</span></label>
                      <textarea cols="30" rows="5" id="comments" required></textarea>
                    </div>
                    <div class="m-form__footer">
                      <p class="c-form__required-text"><span>*</span> required fields</p>
                      <button class="c-btn -normal -form"><span>Send</span></button>
                    </div>
                  </fieldset>
                </form>